<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-1 col-lg-1">
                
            </div>
            <div class="col-md-11 col-lg-11">
                <img src="~/Content/assets/img/login-banner.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
