
@{
    ViewBag.Title = "";
}

<style>

    .modal {
        padding: 0 !important;
    }

    #myModal .modal-dialog {
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-open .main-wrapper {
        filter: none;
    }

    .fa-plus-circle {
        float: right;
    }

    /*#myModal {
        top: 100px;
        left: 100px;
        z-index: 1;
        transform: rotate(360deg);
    }*/

</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Búsqueda de Historia Clínica</h3>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12" id="BusquedaPX">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control BuscarPX" id="ExpedientePX" placeholder="Expediente PX" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <button class="btn btn-primary" onclick="BtnBuscarPX()">Buscar</button>
                    </div>
                    <div class="col-md-3 mb-3">

                    </div>
                </div>
                <div>
                    <div class="table-responsive">
                        <table id="TblPaciente" class="datatable table table-stripped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        Nombre
                                    </th>
                                    <th style="text-align:center">
                                        Primer Apellido
                                    </th>
                                    <th style="text-align:center">
                                        Fecha Registro H.C.
                                    </th>
                                    <th style="width:5px">Ver H.C.</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Historia Clínica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>

                    <h4 class="collapsed" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Ficha de Identificación <i class="fa fa-plus-circle"></i>
                    </h4>

                </p>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        <p>
                            ¿El paciente trae acompañante? <span id="acompanante"></span>
                        </p>
                        <p>
                            Acompañante Especificado <span id="NombreAcompa"></span>
                        </p>

                        <p>
                            ¿Padece de alguna alergia? <span id="alergia"></span>
                        </p>
                        <p>
                            Alergia Especificada <span id="NombreAlergia"></span>
                        </p>

                        <p>
                            Motivo de consulta <span id="MotivoCons"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Evaluacion Social <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <p>
                            Estado Civil <span id="estadocivil"></span>
                        </p>
                        <p>
                            Número de personas que viven en el domicilio <span id="numeropersonas"></span>
                        </p>
                        <p>
                            Número de habitaciones <span id="numerohabitaciones"></span>
                        </p>
                        <p>
                            ¿Hay hacinamiento? <span id="hacinamiento"></span>
                        </p>
                        <p>
                            Escolaridad <span id="escolaridad"></span>
                        </p>
                        <p>
                            Grado Escolar <span id="GradoEsc"></span>
                        </p>
                        <p>
                            Promedio escolar <span id="PromedioEsc"></span>
                        </p>
                        <p>
                            Ha reprobado un año escolar <span id="reprobado"></span>
                        </p>
                        <p>
                            Reprobado especificación <span id="EspecifiqueReprobado"></span>
                        </p>
                        <p>
                            Deserción escolar <span id="Desercion"></span>
                        </p>
                        <p>
                            El paciente acude a guardería/estancia infantil <span id="Guarderia"></span>
                        </p>
                        <p>
                            Cuenta con servicios de salud <span id="ServicioSal"></span>
                        </p>
                        <p>
                            Quien cuida del paciente <span id="Cuidador"></span>
                        </p>
                        <p>
                            Tiene problemas con compañeros <span id="Problemas"></span>
                        </p>
                        <p>
                            Tiene problemas con maestros <span id="ProblemasMaestros"></span>
                        </p>
                        <p>
                            Ocupación <span id="Ocupacio"></span>
                        </p>
                        <p>
                            Tipo de trabajo <span id="TipoTrab"></span>
                        </p>
                        <p>
                            Tiene riesgo social <span id="RiesgoSos"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Valoración familiar <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <p>
                            La mamá del paciente actualmente se encuentra <span id="mamaPaciente"></span>
                        </p>
                        <p>
                            Edad de la mamá <span id="EdadMama"></span>
                        </p>
                        <p>
                            Grado escolar de la mamá <span id="GradoMama"></span>
                        </p>
                        <p>
                            Ocupación de la mamá <span id="OcupacionMama"></span>
                        </p>
                        <p>
                            Tipo de trabajo de la mamá <span id="TipoTrabajoMama"></span>
                        </p>
                        <p>
                            El papá del paciente actualmente se encuentra <span id="papaPaciente"></span>
                        </p>
                        <p>
                            Edad del papá <span id="EdadPapa"></span>
                        </p>
                        <p>
                            Grado escolar del papá <span id="GradoPapa"></span>
                        </p>
                        <p>
                            Ocupación del papá <span id="OcupacionPapa"></span>
                        </p>
                        <p>
                            Tipo de trabajo del papá <span id="TipoTrabajoPapa"></span>
                        </p>
                        <p>
                            Con quien vive <span id="ViveCon"></span>
                        </p>
                        <p>Tiene Hermanos <span id="tieneHermanos"></span></p>
                        <p>Cuantos hermanos tiene <span id="CuantosHermanos"></span></p>
                        <p>Padece alguna enfermedad <span id="EspecifiqueEnf"></span></p>
                        <p>Alguien se involucra en su tratamiento <span id="involucraTratamiento"></span></p>
                        <p>Quien se involucra en su tratamiento <span id="EspecifiqueInvol"></span></p>
                        <p>Riesgo Social <span id="riesgoSocial"></span></p>
                    </div>
                </div>

                <hr />


                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                        Evaluación Económica <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>
                            Es beneficiario de algún programa: <span id="beneficiarioPrograma"></span>
                        </p>
                        <p>
                            beneficiario especificado: <span id="EspecifiqueBeneficiario"></span>
                        </p>
                        <p>
                            Rol económico: <span id="rolEconimico"></span>
                        </p>
                        <p>
                            Rol especificado: <span id="EspecifiqueRol"></span>
                        </p>
                        <p>
                            Riesgo económico: <span id="riesgoEconomico"></span>
                        </p>
                    </div>
                </div>

                <hr />




                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                        Valoración de Creencias <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <p>
                            Pertenece a una religión: <span id="beneficiarioPrograma"></span>
                        </p>
                        <p>
                            Religion: <span id="religion"></span>
                        </p>
                        <p>
                            Religión especificada: <span id="EspecifiqueReligion"></span>
                        </p>
                        <p>
                            Tiene alguna creencia religiosa: <span id="creenciaReligiosa"></span>
                        </p>
                        <p>
                            Creencia especificada: <span id="EspecifiqueCreencia"></span>
                        </p>
                        <p>
                            Tiene alguna Costumbre o valores: <span id="costumbreValores"></span>
                        </p>
                        <p>
                            Costumbres epecificadas: <span id="EspecifiqueCostumbres"></span>
                        </p>
                    </div>
                </div>

                <hr />





                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
                        Riesgos Psicológicos <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        <p>
                            Cambios en sueño: <span id="CambiosSueño"></span>
                        </p>
                        <p>
                            Cambios en energía: <span id="CambiosEnergia"></span>
                        </p>
                        <p>
                            Cambios en apetito: <span id="CambiosApetito"></span>
                        </p>
                        <p>
                            Pesimismo: <span id="Pesimismo"></span>
                        </p>
                        <p>
                            Irritabilidad: <span id="Irritabilidad"></span>
                        </p>
                        <p>
                            Pérdida de placer: <span id="PerdidaPlacer"></span>
                        </p>
                        <p>
                            Palpitaciones fuertes: <span id="PalpitacionesFuertes"></span>
                        </p>
                        <p>
                            Sensación ahogo: <span id="SensacionAahogo"></span>
                        </p>
                        <p>
                            Pesimismo: <span id="Pesimismo"></span>
                        </p>
                        <p>
                            Miedo o preocupación: <span id="MiedoPreocupacion"></span>
                        </p>
                        <p>
                            Ideación suicida: <span id="IdeacionSuicida"></span>
                        </p>
                    </div>
                </div>

                <hr />





                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
                        Hábitos <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample7">
                    <div class="card card-body">
                        <p>
                            Horas de sueño: <span id="HorasSueño"></span>
                        </p>
                        <p>
                            Tiene insomnio: <span id="TieneInsomnio"></span>
                        </p>
                        <p>
                            Tiene enuresis. Solo menores -20 años: <span id="TieneEnuresis"></span>
                        </p>
                        <p>
                            Tiene pesadillas: <span id="TienePesadillas"></span>
                        </p>
                        <p>
                            Horas de ocio: <span id="HorasOcio"></span>
                        </p>
                        <p>
                            Practica actividad física: <span id="ActividadFisica"></span>
                        </p>
                        <p>
                            Tiempo de Actividad Física: <span id="TiempoActividadFisica"></span>
                        </p>
                        <p>
                            Frecuencia: <span id="FrecuenciaActividadFisica"></span>
                        </p>
                        <p>
                            Adicciones Padre: <span id="Check_Adicciones_Padre"></span>
                        </p>
                        <p>
                            Adicciones Madre: <span id="Check_Adicciones_Madre"></span>
                        </p>
                        <p>
                            Adicciones Ambas: <span id="Check_Adicciones_Ambas"></span>
                        </p>
                        <p>
                            No aplica adicciones: <span id="Check_Adicciones_NA"></span>
                        </p>
                        <p>
                            Cardiopatia Padre: <span id="Check_Cardiopatia_Padre"></span>
                        </p>
                        <p>
                            Cardiopatia Madre: <span id="Check_Cardiopatia_Madre"></span>
                        </p>
                        <p>
                            Cardiopatia Ambas: <span id="Check_Cardiopatia_Ambas"></span>
                        </p>
                        <p>
                            No aplica cardiopatia: <span id="Check_Cardiopatia_NA"></span>
                        </p>
                        <p>
                            Diabetes Padre: <span id="Check_Diabetes_Padre"></span>
                        </p>
                        <p>
                            Diabetes Madre: <span id="Check_Diabetes_Madre"></span>
                        </p>
                        <p>
                            Diabetes Ambas: <span id="Check_Diabetes_Ambas"></span>
                        </p>
                        <p>
                            No aplica diabetes: <span id="Check_Diabetes_NA"></span>
                        </p>
                        <p>
                            Dislipidemias Padre: <span id="Check_Dislipidemias_Padre"></span>
                        </p>
                        <p>
                            Dislipidemias Madre: <span id="Check_Dislipidemias_Madre"></span>
                        </p>
                        <p>
                            Dislipidemias Ambas: <span id="Check_Dislipidemias_Ambas"></span>
                        </p>
                        <p>
                            No aplica dislipidemias: <span id="Check_Dislipidemias_NA"></span>
                        </p>
                        <p>
                            Epilepsia Padre: <span id="Check_Epilepsia_Padre"></span>
                        </p>
                        <p>
                            Epilepsia Madre: <span id="Check_Epilepsia_Madre"></span>
                        </p>
                        <p>
                            Epilepsia Ambas: <span id="Check_Epilepsia_Ambas"></span>
                        </p>
                        <p>
                            No aplica epilepsia: <span id="Check_Epilepsia_NA"></span>
                        </p>
                        <p>
                            Hipertensión Padre: <span id="Check_Hipertension_Padre"></span>
                        </p>
                        <p>
                            Hipertensión Madre: <span id="Check_Hipertension_Madre"></span>
                        </p>
                        <p>
                            Hipertensión Ambas: <span id="Check_Hipertension_Ambas"></span>
                        </p>
                        <p>
                            No aplica hipertensión: <span id="Check_Hipertension_NA"></span>
                        </p>
                        <p>
                            Infectocontagiosas Padre: <span id="Check_Infectocontagiosas_Padre"></span>
                        </p>
                        <p>
                            Infectocontagiosas Madre: <span id="Check_Infectocontagiosas_Madre"></span>
                        </p>
                        <p>
                            Infectocontagiosas Ambas: <span id="Check_Infectocontagiosas_Ambas"></span>
                        </p>
                        <p>
                            No aplica infectocontagiosas: <span id="Check_Infectocontagiosas_NA"></span>
                        </p>
                        <p>
                            Malformaciones Padre: <span id="Check_Malformaciones_Padre"></span>
                        </p>
                        <p>
                            Malformaciones Madre: <span id="Check_Malformaciones_Madre"></span>
                        </p>
                        <p>
                            Malformaciones Ambas: <span id="Check_Malformaciones_Ambas"></span>
                        </p>
                        <p>
                            No aplica malformaciones: <span id="Check_Malformaciones_NA"></span>
                        </p>
                        <p>
                            Nefropatías Padre: <span id="Check_Nefropatias_Padre"></span>
                        </p>
                        <p>
                            Nefropatías Madre: <span id="Check_Nefropatias_Madre"></span>
                        </p>
                        <p>
                            Nefropatías Ambas: <span id="Check_Nefropatias_Ambas"></span>
                        </p>
                        <p>
                            No aplica nefropatías: <span id="Check_Nefropatias_NA"></span>
                        </p>
                        <p>
                            Obesidad Padre: <span id="Check_Obesidad_Padre"></span>
                        </p>
                        <p>
                            Obesidad Madre: <span id="Check_Obesidad_Madre"></span>
                        </p>
                        <p>
                            Obesidad Ambas: <span id="Check_Obesidad_Ambas"></span>
                        </p>
                        <p>
                            No aplica obesidad: <span id="Check_Obesidad_NA"></span>
                        </p>
                        <p>
                            Oncológicos Padre: <span id="Check_Oncologicos_Padre"></span>
                        </p>
                        <p>
                            Oncológicos Madre: <span id="Check_Oncologicos_Madre"></span>
                        </p>
                        <p>
                            Obesidad Oncológicos: <span id="Check_Oncologicos_Ambas"></span>
                        </p>
                        <p>
                            No aplica oncológicos: <span id="Check_Oncologicos_NA"></span>
                        </p>

                    </div>
                </div>

                <hr />




                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample8">
                        Antecedentes Perinatales <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample8">
                    <div class="card card-body">
                        <p>
                            No. Embarazo de la madre: <span id="NumeroEmbarazo"></span>
                        </p>
                        <p>
                            Enfermedad durante embarazo: <span id="EnfermedadEmbarazo"></span>
                        </p>
                        <p>
                            Especifique Enfermedad: <span id="EspecifiqueEnfermedadEmbarazo"></span>
                        </p>
                        <p>
                            Tratamientos durante embarazo: <span id="TratamientoEmbarazo"></span>
                        </p>
                        <p>
                            Especifique Tratamiento: <span id="EspecifiqueTratamientoEmbarazo"></span>
                        </p>
                        <p>
                            Lugar de parto: <span id="LugarParto"></span>
                        </p>
                        <p>
                            Especifique Lugar: <span id="EspecifiqueLugarParto"></span>
                        </p>
                        <p>
                            Edad Gestional: <span id="EdadGestional"></span>
                        </p>
                        <p>
                            Especifique Edad: <span id="EspecifiqueEdadGestional"></span>
                        </p>
                        <p>
                            Apgar: <span id="Apgar"></span>
                        </p>
                        <p>
                            Especifique Apgar: <span id="EspecifiqueApgar"></span>
                        </p>
                        <p>
                            Tipo de Parto: <span id="TipoParto"></span>
                        </p>
                        <p>
                            El parto fue: <span id="PartoFue"></span>
                        </p>
                        <p>
                            Especifique Distócico: <span id="EspecifiquePartoFue"></span>
                        </p>
                        <p>
                            Motivo Cesárea: <span id="EspecifiqueMotivoCesarea"></span>
                        </p>
                        <p>
                            Comp. Atención Obs: <span id="ComplicacionObs"></span>
                        </p>
                        <p>
                            Especifique Comp: <span id="EspecifiqueComplicacionObs"></span>
                        </p>
                        <p>
                            Tamiz Metabólico: <span id="TamizMetabolico"></span>
                        </p>
                        <p>
                            Tamiz Metabólico Opciones: <span id="TamizMetabolicoOpciones"></span>
                        </p>
                        <p>
                            Tamiz Auditivo: <span id="TamizAuditivo"></span>
                        </p>
                        <p>
                            Tamiz Auditivo Opciones: <span id="TamizAuditivoOpciones"></span>
                        </p>
                    </div>
                </div>

                <hr />




                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
                        Antecedentes Patológicos <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample9">
                    <div class="card card-body">
                        <p>
                            Respiratorios: <span id="CheckRespiratorios"></span>
                        </p>
                        <p>
                            Endocrinológicos: <span id="CheckEndocrinologicos"></span>
                        </p>
                        <p>
                            Cardiovasculares: <span id="CheckCardiovasculares"></span>
                        </p>
                        <p>
                            Oncológicos: <span id="CheckOncologicos"></span>
                        </p>
                        <p>
                            Salud Mental: <span id="CheckSaludMental"></span>
                        </p>
                        <p>
                            Neurológicos: <span id="CheckNeurologicos"></span>
                        </p>
                        <p>
                            Infecto Contagiosos: <span id="CheckInfectoContagiosos"></span>
                        </p>
                        <p>
                            Problemas Aparato Reproductor: <span id="CheckProblemasAparatoR"></span>
                        </p>
                        <p>
                            Problemas Gastrointestinales: <span id="CheckProblemasGastro"></span>
                        </p>
                        <p>
                            Reumatológicos: <span id="CheckReumatologicos"></span>
                        </p>
                        <p>
                            Ninguna: <span id="CheckNinguna"></span>
                        </p>
                        <p>
                            Px ha estado hospitalizado: <span id="PxHospitalizado"></span>
                        </p>
                        <p>
                            Hospitalización especificado: <span id="EspecifiqueHospitalizado"></span>
                        </p>
                        <p>
                            Se ha realizado cirugía: <span id="RealizadoCirugia"></span>
                        </p>
                        <p>
                            Cirugías epecificación: <span id="CheckNeurologicos"></span>
                        </p>
                    </div>
                </div>

                <hr />





                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample10">
                        Inmunizaciones <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample10">
                    <div class="card card-body">
                        <p>
                            Mostró Cartilla Vacunación: <span id="CartillaVacunacion"></span>
                        </p>
                        <p>
                            Esquema Completo Vacunación: <span id="EsquemaVacunacion"></span>
                        </p>
                        <p>
                            Vacunación especificación: <span id="CartillaVacunacion"></span>
                        </p>
                    </div>
                </div>

                <hr />




                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
                        Historial de Consumo <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample11">
                    <div class="card card-body">
                        <p>
                            Toma Alcohol: <span id="TomaAlcohol"></span>
                        </p>
                        <p>
                            Toma Alcohol Frecuencia: <span id="TomaAlcoholFrecuencia"></span>
                        </p>
                        <p>
                            Cantidad Alcohol: <span id="CantidadAlcohol"></span>
                        </p>
                        <p>
                            Fuma ó Fumó: <span id="Fuma"></span>
                        </p>
                        <p>
                            Edad de inicio: <span id="EdadInicio"></span>
                        </p>
                        <p>
                            Actualmente fuma: <span id="ActualmenteFuma"></span>
                        </p>
                        <p>
                            Tiempo Inactividad: <span id="TiempoInactividadFuma"></span>
                        </p>
                        <p>
                            Tipo: <span id="TipoFuma"></span>
                        </p>
                        <p>
                            Frecuencia: <span id="FrecuenciaFuma"></span>
                        </p>
                        <p>
                            Cantidad: <span id="CantidadFuma"></span>
                        </p>
                        <p>
                            Consume droga: <span id="ConsumeDroga"></span>
                        </p>
                        <p>
                            Cantidad: <span id="CantidadDrogaConsume"></span>
                        </p>
                    </div>
                </div>

                <hr />




                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12">
                        Alimentacion <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample12">
                    <div class="card card-body">
                        <p>
                            Tipo Lactancia: <span id="TipoLactancia"></span>
                        </p>
                        <p>
                            Tiempo Lactancia (meses): <span id="TiempoLactancia"></span>
                        </p>
                        <p>
                            Edad Ablactación (meses): <span id="EdadAblactacion"></span>
                        </p>
                        <p>
                            Alimentos con que inició: <span id="AlimentosInicio"></span>
                        </p>
                        <p>
                            Edad Integración: <span id="EdadIntegracion"></span>
                        </p>
                    </div>
                </div>

                <hr />




                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample13" aria-expanded="false" aria-controls="collapseExample13">
                        Antecedentes del Desarrollo <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample13">
                    <div class="card card-body">
                        <p>
                            Sostuvo la cabeza: <span id="SostuvoCabeza"></span>
                        </p>
                        <p>
                            Especifique: <span id="EspecifiqueSostuvoCabeza"></span>
                        </p>
                        <p>
                            Se sentó: <span id="SeSento"></span>
                        </p>
                        <p>
                            Especifique: <span id="EspecifiqueSeSento"></span>
                        </p>
                        <p>
                            Caminó: <span id="Camino"></span>
                        </p>
                        <p>
                            Especifique: <span id="EspecifiqueCamino"></span>
                        </p>
                        <p>
                            Habla: <span id="Habla"></span>
                        </p>
                        <p>
                            Especifique: <span id="EspecifiqueHabla"></span>
                        </p>
                        <p>
                            Control de esfínteres: <span id="ControlEsfinteres"></span>
                        </p>
                        <p>
                            Especifique: <span id="EspecifiqueControlEsf"></span>
                        </p>
                        <p>
                            Prueba EDI: <span id="PruebaEDI"></span>
                        </p>
                        <p>
                            Especifique: <span id="EspecifiquePruebaEDI"></span>
                        </p>
                    </div>
                </div>

                <hr />




                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample14" aria-expanded="false" aria-controls="collapseExample14">
                        Antecedentes Gineco-obstetricos <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample14">
                    <div class="card card-body">
                        <p>
                            Menarquia: <span id="Menarquia"></span>
                        </p>
                        <p>
                            Motivo: <span id="MotivoMenarquia"></span>
                        </p>
                        <p>
                            Ritmo: <span id="RitmoMenarquia"></span>
                        </p>
                        <p>
                            Tipo: <span id="TipoMenarquia"></span>
                        </p>
                        <p>
                            Cantidad: <span id="CantidadMenarquia"></span>
                        </p>
                        <p>
                            Coloración: <span id="ColoracionMenarquia"></span>
                        </p>
                        <p>
                            Especifique: <span id="EspecifiqueColoracionMenarquia"></span>
                        </p>
                        <p>
                            Ya inició vida sexual: <span id="VidaSexual"></span>
                        </p>
                        <p>
                            No. parejas sexuales: <span id="NumeroParejasSexuales"></span>
                        </p>
                    </div>
                </div>

                <hr />



            </div>
        </div>
    </div>
</div>




<script src="~/Areas/Admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    $(document).ready(function () {

        var table = $('#TblPaciente').DataTable();
        table.destroy();
        table = $('#TblPaciente').DataTable({
            paging: false,
            scroller: false,
            responsive: true,
            searching: false,
            info: true,
            lengthChange: false,
            pageLength: 20,
            language: {
                "zeroRecords": "",
                "info": "_TOTAL_ px",
                "search": "Buscar:",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        let timerInterval
        Swal.fire({
            title: 'Busque al px. y seleccione la H.C. que desea ver',
            timer: 3500,
            timerProgressBar: true,
            willClose: () => {
                clearInterval(timerInterval)
            }
        });
    });

    //Si dan click en Enter en los inputs de Nombre/Expediente
    $('.BuscarPX').on("keypress", function (e) {
        if (e.keyCode == 13) {
            FuncionBuscarPX();
            return false;
        }
    });

    //Si dan click en el botón de Buscar
    function BtnBuscarPX() {
        FuncionBuscarPX();
    };

    function FuncionBuscarPX() {
	    var ExpedientePX = $("#ExpedientePX").val();

	    Swal.fire({
		    title: 'Cargando... Espere por favor',
		    timer: 1000,
		    timerProgressBar: true,
	    });

	    $.ajax({
		    url: '@Url.Action("BuscarHistoria", "HistoriaClinica")',
		    method: 'POST',
		    dataType: 'json',
		    data: {
                ExpedientePX: ExpedientePX
		    },
		    success: function(data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    LlenaTablaHistorias(data.HISTORIAS);
			    }
			    if (data.MENSAJE.substring(0, 6) == "Error:") {
				    Swal.fire({
					    icon: 'error',
					    title: '¡Error!',
					    text: data.MENSAJE.substring(7),
				    });
			    }
		    },
		    error: function(ex) {
			    Swal.fire({
				    icon: 'error',
				    title: '¡Error!',
			    });
		    }
	    });

    };

    function LlenaTablaHistorias(HISTORIAS) {
        var table = $('#TblPaciente').DataTable();
        table.destroy();

        table = $('#TblPaciente').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: false,
            scrollColapse: true,
            paging: false,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron historias",
                "info": "",
                "search": "",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: HISTORIAS,
            columns: [
                { 'data': 'Nombre', className: "text-center" },
                { 'data': 'PrimerApellido', className: "text-center" },
                { 'data': 'FechaReg', className: "text-center" },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Seleccionar px" id="VerDetalle" class="btn btn-success fa fa-check" data-toggle="modal" ></button>',
                    "target": -2
                }
            ]
        });
    }

    $('#TblPaciente tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        row = $('#TblPaciente').DataTable().row(tr);

        //Este es el Identificador armado que se inserta en cada tbl de la H.C.
        var Clave_hc_px = row.data().Clave;

        //alert(Clave_hc_px);

        $.ajax({
		    url: '@Url.Action("ConsultarHC", "HistoriaClinica")',
		    method: 'POST',
		    dataType: 'json',
            data: { Clave_hc_px: Clave_hc_px },
		    success: function(data) {
                //hc_ficha_identificacion
                $("#acompanante").text(data.acompanante);
                $("#NombreAcompa").text(data.NombreAcompa);
                $("#alergia").text(data.alergia);
                $("#NombreAlergia").text(data.NombreAlergia);
                $("#MotivoCons").text(data.MotivoCons);
                //hc_evaluacion_social
                $("#estadocivil").text(data.estadocivil);
                $("#numeropersonas").text(data.numeropersonas);
                $("#numerohabitaciones").text(data.numerohabitaciones);
                $("#hacinamiento").text(data.hacinamiento);
                $("#escolaridad").text(data.escolaridad);
                $("#GradoEsc").text(data.GradoEsc);
                $("#PromedioEsc").text(data.PromedioEsc);
                $("#reprobado").text(data.reprobado);
                $("#EspecifiqueReprobado").text(data.EspecifiqueReprobado);
                $("#Desercion").text(data.Desercion);
                $("#Guarderia").text(data.Guarderia);
                $("#Cuidador").text(data.Cuidador);
                $("#Problemas").text(data.Problemas);
                $("#ProblemasMaestros").text(data.ProblemasMaestros);
                $("#Ocupacio").text(data.Ocupacio);
                $("#TipoTrab").text(data.TipoTrab);
                $("#RiesgoSos").text(data.RiesgoSos);
                $("#ServicioSal").text(data.ServicioSal);
                //hc_valoracion_familiar
                $("#mamaPaciente").text(data.mamaPaciente);
                $("#EdadMama").text(data.EdadMama);
                $("#GradoMama").text(data.GradoMama);
                $("#OcupacionMama").text(data.OcupacionMama);
                $("#TipoTrabajoMama").text(data.TipoTrabajoMama);
                $("#papaPaciente").text(data.papaPaciente);
                $("#EdadPapa").text(data.EdadPapa);
                $("#GradoPapa").text(data.GradoPapa);
                $("#OcupacionPapa").text(data.OcupacionPapa);
                $("#TipoTrabajoPapa").text(data.TipoTrabajoPapa);
                $("#ViveCon").text(data.ViveCon);
                $("#tieneHermanos").text(data.tieneHermanos);
                $("#CuantosHermanos").text(data.CuantosHermanos);
                $("#EspecifiqueEnf").text(data.EspecifiqueEnf);
                $("#involucraTratamiento").text(data.involucraTratamiento);
                $("#EspecifiqueInvol").text(data.EspecifiqueInvol);
                $("#riesgoSocial").text(data.riesgoSocial);
                //hc_evaliacion_economica
                $("#beneficiarioPrograma").text(data.beneficiarioPrograma);
                $("#EspecifiqueBeneficiario").text(data.EspecifiqueBeneficiario);
                $("#rolEconimico").text(data.rolEconimico);
                $("#EspecifiqueRol").text(data.EspecifiqueRol);
                $("#riesgoEconomico").text(data.riesgoEconomico);
                //hc_valores_creencias
                $("#perteneceReligion").text(data.perteneceReligion);
                $("#religion").text(data.religion);
                $("#EspecifiqueReligion").text(data.EspecifiqueReligion);
                $("#creenciaReligiosa").text(data.creenciaReligiosa);
                $("#EspecifiqueCreencia").text(data.EspecifiqueCreencia);
                $("#costumbreValores").text(data.costumbreValores);
                $("#EspecifiqueCostumbres").text(data.EspecifiqueCostumbres);
                //hc_factores_riesgo_psicologicos
                $("#CambiosSueño").text(data.CambiosSueño);
                $("#CambiosEnergia").text(data.CambiosEnergia);
                $("#CambiosApetito").text(data.CambiosApetito);
                $("#Pesimismo").text(data.Pesimismo);
                $("#Irritabilidad").text(data.Irritabilidad);
                $("#PerdidaPlacer").text(data.PerdidaPlacer);
                $("#PalpitacionesFuertes").text(data.PalpitacionesFuertes);
                $("#SensacionAahogo").text(data.SensacionAahogo);
                $("#MiedoPreocupacion").text(data.MiedoPreocupacion);
                $("#IdeacionSuicida").text(data.IdeacionSuicida);
                //hc_habitos
                $("#HorasSueño").text(data.HorasSueño);
                $("#TieneInsomnio").text(data.TieneInsomnio);
                $("#TieneEnuresis").text(data.TieneEnuresis);
                $("#TienePesadillas").text(data.TienePesadillas);
                $("#HorasOcio").text(data.HorasOcio);
                $("#ActividadFisica").text(data.ActividadFisica);
                $("#TiempoActividadFisica").text(data.TiempoActividadFisica);
                $("#FrecuenciaActividadFisica").text(data.FrecuenciaActividadFisica);
                $("#Check_Adicciones_Padre").text(data.Check_Adicciones_Padre);
                $("#Check_Adicciones_Madre").text(data.Check_Adicciones_Madre);
                $("#Check_Adicciones_Ambas").text(data.Check_Adicciones_Ambas);
                $("#Check_Adicciones_NA").text(data.Check_Adicciones_NA);
                $("#Check_Cardiopatia_Padre").text(data.Check_Cardiopatia_Padre);
                $("#Check_Cardiopatia_Madre").text(data.Check_Cardiopatia_Madre);
                $("#Check_Cardiopatia_Ambas").text(data.Check_Cardiopatia_Ambas);
                $("#Check_Cardiopatia_NA").text(data.Check_Cardiopatia_NA);
                $("#Check_Diabetes_Padre").text(data.Check_Diabetes_Padre);
                $("#Check_Diabetes_Madre").text(data.Check_Diabetes_Madre);
                $("#Check_Diabetes_Ambas").text(data.Check_Diabetes_Ambas);
                $("#Check_Diabetes_NA").text(data.Check_Diabetes_NA);
                $("#Check_Dislipidemias_Padre").text(data.Check_Dislipidemias_Padre);
                $("#Check_Dislipidemias_Madre").text(data.Check_Dislipidemias_Madre);
                $("#Check_Dislipidemias_Ambas").text(data.Check_Dislipidemias_Ambas);
                $("#Check_Dislipidemias_NA").text(data.Check_Dislipidemias_NA);
                $("#Check_Epilepsia_Padre").text(data.Check_Epilepsia_Padre);
                $("#Check_Epilepsia_Madre").text(data.Check_Epilepsia_Madre);
                $("#Check_Epilepsia_Ambas").text(data.Check_Epilepsia_Ambas);
                $("#Check_Epilepsia_NA").text(data.Check_Epilepsia_NA);
                $("#Check_Hipertension_Padre").text(data.Check_Hipertension_Padre);
                $("#Check_Hipertension_Madre").text(data.Check_Hipertension_Madre);
                $("#Check_Hipertension_Ambas").text(data.Check_Hipertension_Ambas);
                $("#Check_Hipertension_NA").text(data.Check_Hipertension_NA);
                $("#Check_Infectocontagiosas_Padre").text(data.Check_Infectocontagiosas_Padre);
                $("#Check_Infectocontagiosas_Madre").text(data.Check_Infectocontagiosas_Madre);
                $("#Check_Infectocontagiosas_Ambas").text(data.Check_Infectocontagiosas_Ambas);
                $("#Check_Infectocontagiosas_NA").text(data.Check_Infectocontagiosas_NA);
                $("#Check_Malformaciones_Padre").text(data.Check_Malformaciones_Padre);
                $("#Check_Malformaciones_Madre").text(data.Check_Malformaciones_Madre);
                $("#Check_Malformaciones_Ambas").text(data.Check_Malformaciones_Ambas);
                $("#Check_Malformaciones_NA").text(data.Check_Malformaciones_NA);
                $("#Check_Nefropatias_Padre").text(data.Check_Nefropatias_Padre);
                $("#Check_Nefropatias_Madre").text(data.Check_Nefropatias_Madre);
                $("#Check_Nefropatias_Ambas").text(data.Check_Nefropatias_Ambas);
                $("#Check_Nefropatias_NA").text(data.Check_Nefropatias_NA);
                $("#Check_Obesidad_Padre").text(data.Check_Obesidad_Padre);
                $("#Check_Obesidad_Madre").text(data.Check_Obesidad_Madre);
                $("#Check_Obesidad_Ambas").text(data.Check_Obesidad_Ambas);
                $("#Check_Obesidad_NA").text(data.Check_Obesidad_NA);
                $("#Check_Oncologicos_Padre").text(data.Check_Oncologicos_Padre);
                $("#Check_Oncologicos_Madre").text(data.Check_Oncologicos_Madre);
                $("#Check_Oncologicos_Ambas").text(data.Check_Oncologicos_Ambas);
                $("#Check_Oncologicos_NA").text(data.Check_Oncologicos_NA);
                //hc_antecedentes_perinatales
                $("#NumeroEmbarazo").text(data.NumeroEmbarazo);
                $("#EnfermedadEmbarazo").text(data.EnfermedadEmbarazo);
                $("#EspecifiqueEnfermedadEmbarazo").text(data.EspecifiqueEnfermedadEmbarazo);
                $("#TratamientoEmbarazo").text(data.TratamientoEmbarazo);
                $("#EspecifiqueTratamientoEmbarazo").text(data.EspecifiqueTratamientoEmbarazo);
                $("#LugarParto").text(data.LugarParto);
                $("#EspecifiqueLugarParto").text(data.EspecifiqueLugarParto);
                $("#EdadGestional").text(data.EdadGestional);
                $("#EspecifiqueEdadGestional").text(data.EspecifiqueEdadGestional);
                $("#Apgar").text(data.Apgar);
                $("#EspecifiqueApgar").text(data.EspecifiqueApgar);
                $("#TipoParto").text(data.TipoParto);
                $("#PartoFue").text(data.PartoFue);
                $("#EspecifiquePartoFue").text(data.EspecifiquePartoFue);
                $("#EspecifiqueMotivoCesarea").text(data.EspecifiqueMotivoCesarea);
                $("#ComplicacionObs").text(data.ComplicacionObs);
                $("#EspecifiqueComplicacionObs").text(data.EspecifiqueComplicacionObs);
                $("#TamizMetabolico").text(data.TamizMetabolico);
                $("#TamizMetabolicoOpciones").text(data.TamizMetabolicoOpciones);
                $("#TamizAuditivo").text(data.TamizAuditivo);
                $("#TamizAuditivoOpciones").text(data.TamizAuditivoOpciones);
                //hc_antecedentes_patologicos
                $("#Antecedentes").text(data.Antecedentes);
                $("#PxHospitalizado").text(data.PxHospitalizado);
                $("#EspecifiqueHospitalizado").text(data.EspecifiqueHospitalizado);
                $("#RealizadoCirugia").text(data.RealizadoCirugia);
                $("#EspecifiqueCirugia").text(data.EspecifiqueCirugia);
                $("#CheckRespiratorios").text(data.CheckRespiratorios);
                $("#CheckEndocrinologicos").text(data.CheckEndocrinologicos);
                $("#CheckCardiovasculares").text(data.CheckCardiovasculares);
                $("#CheckOncologicos").text(data.CheckOncologicos);
                $("#CheckSaludMental").text(data.CheckSaludMental);
                $("#CheckNeurologicos").text(data.CheckNeurologicos);
                $("#CheckInfectoContagiosos").text(data.CheckInfectoContagiosos);
                $("#CheckProblemasAparatoR").text(data.CheckProblemasAparatoR);
                $("#CheckProblemasGastro").text(data.CheckProblemasGastro);
                $("#CheckReumatologicos").text(data.CheckReumatologicos);
                $("#CheckNinguna").text(data.CheckNinguna);
                //hc_inmunizaciones
                $("#CartillaVacunacion").text(data.CartillaVacunacion);
                $("#EsquemaVacunacion").text(data.EsquemaVacunacion);
                $("#EspecifiqueVacuna").text(data.EspecifiqueVacuna);
                //hc_historial_consumo
                $("#TomaAlcohol").text(data.TomaAlcohol);
                $("#TomaAlcoholFrecuencia").text(data.TomaAlcoholFrecuencia);
                $("#CantidadAlcohol").text(data.CantidadAlcohol);
                $("#Fuma").text(data.Fuma);
                $("#EdadInicio").text(data.EdadInicio);
                $("#ActualmenteFuma").text(data.ActualmenteFuma);
                $("#TiempoInactividadFuma").text(data.TiempoInactividadFuma);
                $("#TipoFuma").text(data.TipoFuma);
                $("#FrecuenciaFuma").text(data.FrecuenciaFuma);
                $("#CantidadFuma").text(data.CantidadFuma);
                $("#ConsumeDroga").text(data.ConsumeDroga);
                $("#TipoDrogaConsume").text(data.TipoDrogaConsume);
                $("#FrecuenciaDroga").text(data.FrecuenciaDroga);
                $("#CantidadDrogaConsume").text(data.CantidadDrogaConsume);
                //hc_alimentacion
                $("#TipoLactancia").text(data.TipoLactancia);
                $("#TiempoLactancia").text(data.TiempoLactancia);
                $("#EdadAblactacion").text(data.EdadAblactacion);
                $("#AlimentosInicio").text(data.AlimentosInicio);
                $("#EdadIntegracion").text(data.EdadIntegracion);
                //hc_antecedentes_desarrollo
                $("#SostuvoCabeza").text(data.SostuvoCabeza);
                $("#EspecifiqueSostuvoCabeza").text(data.EspecifiqueSostuvoCabeza);
                $("#SeSento").text(data.SeSento);
                $("#EspecifiqueSeSento").text(data.EspecifiqueSeSento);
                $("#Camino").text(data.Camino);
                $("#EspecifiqueCamino").text(data.EspecifiqueCamino);
                $("#Habla").text(data.Habla);
                $("#EspecifiqueHabla").text(data.EspecifiqueHabla);
                $("#ControlEsfinteres").text(data.ControlEsfinteres);
                $("#EspecifiqueControlEsf").text(data.EspecifiqueControlEsf);
                $("#PruebaEDI").text(data.PruebaEDI);
                $("#EspecifiquePruebaEDI").text(data.EspecifiquePruebaEDI);
                //hc_antecedentes_ginecoobstetricos
                $("#Menarquia").text(data.Menarquia);
                $("#MotivoMenarquia").text(data.MotivoMenarquia);
                $("#RitmoMenarquia").text(data.RitmoMenarquia);
                $("#CantidadMenarquia").text(data.CantidadMenarquia);
                $("#ColoracionMenarquia").text(data.ColoracionMenarquia);
                $("#EspecifiqueColoracionMenarquia").text(data.EspecifiqueColoracionMenarquia);
                $("#VidaSexual").text(data.VidaSexual);
                $("#NumeroParejasSexuales").text(data.NumeroParejasSexuales);
                $("#TipoMenarquia").text(data.TipoMenarquia);

                //Mostrar modal
                $('#exampleModal').modal('show');

		    },
		    error: function(ex) {
			    Swal.fire({
				    icon: 'error',
				    title: '¡Error!',
			    });
		    }
	    });

    });



</script>

