
@{
    ViewBag.Title = "";
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<style>
    .modal {
        padding: 0 !important;
    }
    #myModal .modal-dialog {
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .modal-open .main-wrapper {
        filter: none;
    }
    .fa-plus-circle {
        float: right;
    }
    p {
        font-weight:bold;
    }
    p span{
        font-weight: normal;
        color:red;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Búsqueda de Historia Clínica</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" id="BusquedaPX">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control BuscarPX" id="ExpedientePX" placeholder="Expediente PX" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <button class="btn btn-primary" onclick="BtnBuscarPX()">Buscar</button>
                    </div>
                    <div class="col-md-3 mb-3">

                    </div>
                </div>
                <div>
                    <div class="table-responsive">
                        <table id="TblPaciente" class="datatable table table-stripped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        Nombre
                                    </th>
                                    <th style="text-align:center">
                                        Primer Apellido
                                    </th>
                                    <th style="text-align:center">
                                        Fecha
                                    </th>
                                    <th style="text-align:center">
                                        Tipo
                                    </th>
                                    <th style="width:5px">Ver</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Historia Clínica Común</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <p>
                    <h4 class="collapsed" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Ficha de Identificación <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        <p>
                            ¿El paciente trae acompañante?: <span id="acompanante"></span>
                        </p>
                        <p>
                            Acompañante Especificado: <span id="NombreAcompa"></span>
                        </p>

                        <p>
                            ¿Padece de alguna alergia?: <span id="alergia"></span>
                        </p>
                        <p>
                            Alergia Especificada: <span id="NombreAlergia"></span>
                        </p>

                        <p>
                            Motivo de consulta: <span id="MotivoCons"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Evaluacion Social <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <p>
                            Estado Civil: <span id="estadocivil"></span>
                        </p>
                        <p>
                            Número de personas que viven en el domicilio: <span id="numeropersonas"></span>
                        </p>
                        <p>
                            Número de habitaciones: <span id="numerohabitaciones"></span>
                        </p>
                        <p>
                            ¿Hay hacinamiento?: <span id="hacinamiento"></span>
                        </p>
                        <p>
                            Escolaridad: <span id="escolaridad"></span>
                        </p>
                        <p>
                            Grado Escolar: <span id="GradoEsc"></span>
                        </p>
                        <p>
                            Promedio escolar: <span id="PromedioEsc"></span>
                        </p>
                        <p>
                            Ha reprobado un año escolar: <span id="reprobado"></span>
                        </p>
                        <p>
                            Reprobado especificación: <span id="EspecifiqueReprobado"></span>
                        </p>
                        <p>
                            Deserción escolar: <span id="Desercion"></span>
                        </p>
                        <p>
                            El paciente acude a guardería/estancia infantil: <span id="Guarderia"></span>
                        </p>
                        <p>
                            Cuenta con servicios de salud: <span id="ServicioSal"></span>
                        </p>
                        <p>
                            Quien cuida del paciente: <span id="Cuidador"></span>
                        </p>
                        <p>
                            Tiene problemas con compañeros: <span id="Problemas"></span>
                        </p>
                        <p>
                            Tiene problemas con maestros: <span id="ProblemasMaestros"></span>
                        </p>
                        <p>
                            Ocupación: <span id="Ocupacio"></span>
                        </p>
                        <p>
                            Tipo de trabajo: <span id="TipoTrab"></span>
                        </p>
                        <p>
                            Tiene riesgo social: <span id="RiesgoSos"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Valoración familiar <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <p>
                            La mamá del paciente actualmente se encuentra: <span id="mamaPaciente"></span>
                        </p>
                        <p>
                            Edad de la mamá: <span id="EdadMama"></span>
                        </p>
                        <p>
                            Grado escolar de la mamá: <span id="GradoMama"></span>
                        </p>
                        <p>
                            Ocupación de la mamá: <span id="OcupacionMama"></span>
                        </p>
                        <p>
                            Tipo de trabajo de la mamá: <span id="TipoTrabajoMama"></span>
                        </p>
                        <p>
                            El papá del paciente actualmente se encuentra: <span id="papaPaciente"></span>
                        </p>
                        <p>
                            Edad del papá: <span id="EdadPapa"></span>
                        </p>
                        <p>
                            Grado escolar del papá: <span id="GradoPapa"></span>
                        </p>
                        <p>
                            Ocupación del papá: <span id="OcupacionPapa"></span>
                        </p>
                        <p>
                            Tipo de trabajo del papá: <span id="TipoTrabajoPapa"></span>
                        </p>
                        <p>
                            Con quien vive: <span id="ViveCon"></span>
                        </p>
                        <p>Tiene Hermanos: <span id="tieneHermanos"></span></p>
                        <p>Cuantos hermanos tiene: <span id="CuantosHermanos"></span></p>
                        <p>Padece alguna enfermedad: <span id="EspecifiqueEnf"></span></p>
                        <p>Alguien se involucra en su tratamiento: <span id="involucraTratamiento"></span></p>
                        <p>Quien se involucra en su tratamiento: <span id="EspecifiqueInvol"></span></p>
                        <p>Riesgo Social: <span id="riesgoSocial"></span></p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
                        Evaluación Económica <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample4">
                    <div class="card card-body">
                        <p>
                            Es beneficiario de algún programa: <span id="beneficiarioPrograma"></span>
                        </p>
                        <p>
                            beneficiario especificado: <span id="EspecifiqueBeneficiario"></span>
                        </p>
                        <p>
                            Rol económico: <span id="rolEconimico"></span>
                        </p>
                        <p>
                            Rol especificado: <span id="EspecifiqueRol"></span>
                        </p>
                        <p>
                            Riesgo económico: <span id="riesgoEconomico"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
                        Valoración de Creencias <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample5">
                    <div class="card card-body">
                        <p>
                            Pertenece a una religión: <span id="beneficiarioPrograma"></span>
                        </p>
                        <p>
                            Religion: <span id="religion"></span>
                        </p>
                        <p>
                            Religión especificada: <span id="EspecifiqueReligion"></span>
                        </p>
                        <p>
                            Tiene alguna creencia religiosa: <span id="creenciaReligiosa"></span>
                        </p>
                        <p>
                            Creencia especificada: <span id="EspecifiqueCreencia"></span>
                        </p>
                        <p>
                            Tiene alguna Costumbre o valores: <span id="costumbreValores"></span>
                        </p>
                        <p>
                            Costumbres epecificadas: <span id="EspecifiqueCostumbres"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
                        Riesgos Psicológicos <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample6">
                    <div class="card card-body">
                        <p>
                            Cambios en sueño: <span id="CambiosSueño"></span>
                        </p>
                        <p>
                            Cambios en energía: <span id="CambiosEnergia"></span>
                        </p>
                        <p>
                            Cambios en apetito: <span id="CambiosApetito"></span>
                        </p>
                        <p>
                            Pesimismo: <span id="Pesimismo"></span>
                        </p>
                        <p>
                            Irritabilidad: <span id="Irritabilidad"></span>
                        </p>
                        <p>
                            Pérdida de placer: <span id="PerdidaPlacer"></span>
                        </p>
                        <p>
                            Palpitaciones fuertes: <span id="PalpitacionesFuertes"></span>
                        </p>
                        <p>
                            Sensación ahogo: <span id="SensacionAahogo"></span>
                        </p>
                        <p>
                            Pesimismo: <span id="Pesimismo"></span>
                        </p>
                        <p>
                            Miedo o preocupación: <span id="MiedoPreocupacion"></span>
                        </p>
                        <p>
                            Ideación suicida: <span id="IdeacionSuicida"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
                        Antecedentes Familiares <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample7">
                    <div class="card card-body">
                        <p>
                            Adicciones Padre: <span id="Check_Adicciones_Padre"></span>
                        </p>
                        <p>
                            Adicciones Madre: <span id="Check_Adicciones_Madre"></span>
                        </p>
                        <p>
                            Adicciones Ambas: <span id="Check_Adicciones_Ambas"></span>
                        </p>
                        <p>
                            No aplica adicciones: <span id="Check_Adicciones_NA"></span>
                        </p>
                        <p>
                            Cardiopatia Padre: <span id="Check_Cardiopatia_Padre"></span>
                        </p>
                        <p>
                            Cardiopatia Madre: <span id="Check_Cardiopatia_Madre"></span>
                        </p>
                        <p>
                            Cardiopatia Ambas: <span id="Check_Cardiopatia_Ambas"></span>
                        </p>
                        <p>
                            No aplica cardiopatia: <span id="Check_Cardiopatia_NA"></span>
                        </p>
                        <p>
                            Diabetes Padre: <span id="Check_Diabetes_Padre"></span>
                        </p>
                        <p>
                            Diabetes Madre: <span id="Check_Diabetes_Madre"></span>
                        </p>
                        <p>
                            Diabetes Ambas: <span id="Check_Diabetes_Ambas"></span>
                        </p>
                        <p>
                            No aplica diabetes: <span id="Check_Diabetes_NA"></span>
                        </p>
                        <p>
                            Dislipidemias Padre: <span id="Check_Dislipidemias_Padre"></span>
                        </p>
                        <p>
                            Dislipidemias Madre: <span id="Check_Dislipidemias_Madre"></span>
                        </p>
                        <p>
                            Dislipidemias Ambas: <span id="Check_Dislipidemias_Ambas"></span>
                        </p>
                        <p>
                            No aplica dislipidemias: <span id="Check_Dislipidemias_NA"></span>
                        </p>
                        <p>
                            Epilepsia Padre: <span id="Check_Epilepsia_Padre"></span>
                        </p>
                        <p>
                            Epilepsia Madre: <span id="Check_Epilepsia_Madre"></span>
                        </p>
                        <p>
                            Epilepsia Ambas: <span id="Check_Epilepsia_Ambas"></span>
                        </p>
                        <p>
                            No aplica epilepsia: <span id="Check_Epilepsia_NA"></span>
                        </p>
                        <p>
                            Hipertensión Padre: <span id="Check_Hipertension_Padre"></span>
                        </p>
                        <p>
                            Hipertensión Madre: <span id="Check_Hipertension_Madre"></span>
                        </p>
                        <p>
                            Hipertensión Ambas: <span id="Check_Hipertension_Ambas"></span>
                        </p>
                        <p>
                            No aplica hipertensión: <span id="Check_Hipertension_NA"></span>
                        </p>
                        <p>
                            Infectocontagiosas Padre: <span id="Check_Infectocontagiosas_Padre"></span>
                        </p>
                        <p>
                            Infectocontagiosas Madre: <span id="Check_Infectocontagiosas_Madre"></span>
                        </p>
                        <p>
                            Infectocontagiosas Ambas: <span id="Check_Infectocontagiosas_Ambas"></span>
                        </p>
                        <p>
                            No aplica infectocontagiosas: <span id="Check_Infectocontagiosas_NA"></span>
                        </p>
                        <p>
                            Malformaciones Padre: <span id="Check_Malformaciones_Padre"></span>
                        </p>
                        <p>
                            Malformaciones Madre: <span id="Check_Malformaciones_Madre"></span>
                        </p>
                        <p>
                            Malformaciones Ambas: <span id="Check_Malformaciones_Ambas"></span>
                        </p>
                        <p>
                            No aplica malformaciones: <span id="Check_Malformaciones_NA"></span>
                        </p>
                        <p>
                            Nefropatías Padre: <span id="Check_Nefropatias_Padre"></span>
                        </p>
                        <p>
                            Nefropatías Madre: <span id="Check_Nefropatias_Madre"></span>
                        </p>
                        <p>
                            Nefropatías Ambas: <span id="Check_Nefropatias_Ambas"></span>
                        </p>
                        <p>
                            No aplica nefropatías: <span id="Check_Nefropatias_NA"></span>
                        </p>
                        <p>
                            Obesidad Padre: <span id="Check_Obesidad_Padre"></span>
                        </p>
                        <p>
                            Obesidad Madre: <span id="Check_Obesidad_Madre"></span>
                        </p>
                        <p>
                            Obesidad Ambas: <span id="Check_Obesidad_Ambas"></span>
                        </p>
                        <p>
                            No aplica obesidad: <span id="Check_Obesidad_NA"></span>
                        </p>
                        <p>
                            Oncológicos Padre: <span id="Check_Oncologicos_Padre"></span>
                        </p>
                        <p>
                            Oncológicos Madre: <span id="Check_Oncologicos_Madre"></span>
                        </p>
                        <p>
                            Obesidad Oncológicos: <span id="Check_Oncologicos_Ambas"></span>
                        </p>
                        <p>
                            No aplica oncológicos: <span id="Check_Oncologicos_NA"></span>
                        </p>

                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
                        Antecedentes Patológicos <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample9">
                    <div class="card card-body">
                        <p>
                            Respiratorios: <span id="CheckRespiratorios"></span>
                        </p>
                        <p>
                            Detalle Respiratorios: <span id="DetallarRespiratorios"></span>
                        </p>
                        <p>
                            Endocrinológicos: <span id="CheckEndocrinologicos"></span>
                        </p>
                        <p>
                            Detalle Endocrinológicos: <span id="DetallarEndocrinologicos"></span>
                        </p>
                        <p>
                            Cardiovasculares: <span id="CheckCardiovasculares"></span>
                        </p>
                        <p>
                            Detalle Cardiovasculares: <span id="DetallarCardiovasculares"></span>
                        </p>
                        <p>
                            Oncológicos: <span id="CheckOncologicos"></span>
                        </p>
                        <p>
                            Detalle Oncológicos: <span id="DetallarOncologicos"></span>
                        </p>
                        <p>
                            Salud Mental: <span id="CheckSaludMental"></span>
                        </p>
                        <p>
                            Detalle Mental: <span id="DetallarSaludMental"></span>
                        </p>
                        <p>
                            Neurológicos: <span id="CheckNeurologicos"></span>
                        </p>
                        <p>
                            Detalle Neurológicos: <span id="DetallarNeurologicos"></span>
                        </p>
                        <p>
                            Infecto Contagiosos: <span id="CheckInfectoContagiosos"></span>
                        </p>
                        <p>
                            Detalle Contagiosos: <span id="DetallarInfectoContagiosos"></span>
                        </p>
                        <p>
                            Problemas Aparato Reproductor: <span id="CheckProblemasAparatoR"></span>
                        </p>
                        <p>
                            Detalle Aparato R.: <span id="DetallarProblemasAparatoR"></span>
                        </p>
                        <p>
                            Problemas Gastrointestinales: <span id="CheckProblemasGastro"></span>
                        </p>
                        <p>
                            Detalle Gastrointestinales: <span id="DetallarProblemasGastro"></span>
                        </p>
                        <p>
                            Reumatológicos: <span id="CheckReumatologicos"></span>
                        </p>
                        <p>
                            Detalle Reumatológicos: <span id="DetallarReumatologicos"></span>
                        </p>
                        <p>
                            Ninguna: <span id="CheckNinguna"></span>
                        </p>
                        <p>
                            Px ha estado hospitalizado: <span id="PxHospitalizado"></span>
                        </p>
                        <p>
                            Hospitalización especificado: <span id="EspecifiqueHospitalizado"></span>
                        </p>
                        <p>
                            Se ha realizado cirugía: <span id="RealizadoCirugia"></span>
                        </p>
                        <p>
                            Cirugías epecificación: <span id="CheckNeurologicos"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
                        Historial de Consumo <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample11">
                    <div class="card card-body">
                        <p>
                            Toma Alcohol: <span id="TomaAlcohol"></span>
                        </p>
                        <p>
                            Toma Alcohol Frecuencia: <span id="TomaAlcoholFrecuencia"></span>
                        </p>
                        <p>
                            Cantidad Alcohol: <span id="CantidadAlcohol"></span>
                        </p>
                        <p>
                            Fuma ó Fumó: <span id="Fuma"></span>
                        </p>
                        <p>
                            Edad de inicio: <span id="EdadInicio"></span>
                        </p>
                        <p>
                            Actualmente fuma: <span id="ActualmenteFuma"></span>
                        </p>
                        <p>
                            Tiempo Inactividad: <span id="TiempoInactividadFuma"></span>
                        </p>
                        <p>
                            Tipo: <span id="TipoFuma"></span>
                        </p>
                        <p>
                            Frecuencia: <span id="FrecuenciaFuma"></span>
                        </p>
                        <p>
                            Cantidad: <span id="CantidadFuma"></span>
                        </p>
                        <p>
                            Consume droga: <span id="ConsumeDroga"></span>
                        </p>
                        <p>
                            Cantidad: <span id="CantidadDrogaConsume"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseInterrogatorio" aria-expanded="false" aria-controls="collapseInterrogatorio">
                        Interrogatorio Aparatos y Sistemas <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseInterrogatorio">
                    <div class="card card-body">

                        <p>
                            Síntomas Grales. Si: <span id="Check_SintomasG_Si"></span>
                        </p>
                        <p>
                            Síntomas Grales. No: <span id="Check_SintomasG_No"></span>
                        </p>
                        <p>
                            Síntomas Grales. Describir: <span id="Describir_SintomasG"></span>
                        </p>
                        <p>
                            Respiratorio Si: <span id="Check_Respiratorio_Si"></span>
                        </p>
                        <p>
                            Respiratorio No: <span id="Check_Respiratorio_No"></span>
                        </p>
                        <p>
                            Respiratorio Describir: <span id="Describir_Respiratorio"></span>
                        </p>
                        <p>
                            Neurológico Si: <span id="Check_Neurologico_Si"></span>
                        </p>
                        <p>
                            Neurológico No: <span id="Check_Neurologico_No"></span>
                        </p>
                        <p>
                            Neurológico Describir: <span id="Describir_Neurologico"></span>
                        </p>
                        <p>
                            Piel y Anexos Si: <span id="Check_pielYanexos_Si"></span>
                        </p>
                        <p>
                            Piel y Anexos No: <span id="Check_pielYanexos_No"></span>
                        </p>
                        <p>
                            Piel y Anexos Describir: <span id="Describir_pielYanexos"></span>
                        </p>
                        <p>
                            Hematológico Si: <span id="Check_Hematologico_Si"></span>
                        </p>
                        <p>
                            Hematológico No: <span id="Check_Hematologico_No"></span>
                        </p>
                        <p>
                            Hematológico Describir: <span id="Describir_Hematologico"></span>
                        </p>
                        <p>
                            Digestivo Si: <span id="Check_Digestivo_Si"></span>
                        </p>
                        <p>
                            Digestivo No: <span id="Check_Digestivo_No"></span>
                        </p>
                        <p>
                            Digestivo Describir: <span id="Describir_Digestivo"></span>
                        </p>
                        <p>
                            Genitourinario Si: <span id="Check_Genitourinario_Si"></span>
                        </p>
                        <p>
                            Genitourinario No: <span id="Check_Genitourinario_No"></span>
                        </p>
                        <p>
                            Genitourinario Describir: <span id="Describir_Genitourinario"></span>
                        </p>
                        <p>
                            Cardiovascular Si: <span id="Check_Cardiovascular_Si"></span>
                        </p>
                        <p>
                            Cardiovascular No: <span id="Check_Cardiovascular_No"></span>
                        </p>
                        <p>
                            Cardiovascular Describir: <span id="Describir_Cardiovascular"></span>
                        </p>
                        <p>
                            Musculoesqueletico Si: <span id="Check_Musculoesqueletico_Si"></span>
                        </p>
                        <p>
                            Musculoesqueletico No: <span id="Check_Musculoesqueletico_No"></span>
                        </p>
                        <p>
                            Musculoesqueletico Describir: <span id="Describir_Musculoesqueletico"></span>
                        </p>
                        <p>
                            Renal Si: <span id="Check_Renal_Si"></span>
                        </p>
                        <p>
                            Renal No: <span id="Check_Renal_No"></span>
                        </p>
                        <p>
                            Renal Describir: <span id="Describir_Renal"></span>
                        </p>
                        <p>
                            Inmune Si: <span id="Check_Inmune_Si"></span>
                        </p>
                        <p>
                            Inmune No: <span id="Check_Inmune_No"></span>
                        </p>
                        <p>
                            Inmune Describir: <span id="Describir_Inmune"></span>
                        </p>

                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseRiesgo" aria-expanded="false" aria-controls="collapseRiesgo">
                        Riesgo de Caídas <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseRiesgo">
                    <div class="card card-body">

                        <p>
                            Puntuaje en la escala de valoración de riesgo de caídas: <span id="PuntuajeEscala"></span>
                        </p>

                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExploracion" aria-expanded="false" aria-controls="collapseExploracion">
                        Exploración Física <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExploracion">
                    <div class="card card-body">

                        <p>
                            Cráneo Si: <span id="Check_Craneo_Si"></span>
                        </p>
                        <p>
                            Cráneo No: <span id="Check_Craneo_No"></span>
                        </p>
                        <p>
                            Cráneo Diferido: <span id="Check_Craneo_Diferido"></span>
                        </p>
                        <p>
                            Cráneo Describir: <span id="Describir_Hallazgos_Craneo"></span>
                        </p>

                        <p>
                            Cara Si: <span id="Check_Cara_Si"></span>
                        </p>
                        <p>
                            Cara No: <span id="Check_Cara_No"></span>
                        </p>
                        <p>
                            Cara Diferido: <span id="Check_Cara_Diferido"></span>
                        </p>
                        <p>
                            Cara Describir: <span id="Describir_Hallazgos_Cara"></span>
                        </p>

                        <p>
                            Ojos Si: <span id="Check_Ojos_Si"></span>
                        </p>
                        <p>
                            Ojos No: <span id="Check_Ojos_No"></span>
                        </p>
                        <p>
                            Ojos Diferido: <span id="Check_Ojos_Diferido"></span>
                        </p>
                        <p>
                            Ojos Describir: <span id="Describir_Hallazgos_Ojos"></span>
                        </p>

                        <p>
                            Naríz Si: <span id="Check_Nariz_Si"></span>
                        </p>
                        <p>
                            Naríz No: <span id="Check_Nariz_No"></span>
                        </p>
                        <p>
                            Naríz Diferido: <span id="Check_Nariz_Diferido"></span>
                        </p>
                        <p>
                            Naríz Describir: <span id="Describir_Hallazgos_Nariz"></span>
                        </p>

                        <p>
                            Oídos Si: <span id="Check_Oidos_Si"></span>
                        </p>
                        <p>
                            Oídos No: <span id="Check_Oidos_No"></span>
                        </p>
                        <p>
                            Oídos Diferido: <span id="Check_Oidos_Diferido"></span>
                        </p>
                        <p>
                            Oídos Describir: <span id="Describir_Hallazgos_Oidos"></span>
                        </p>

                        <p>
                            Boca Si: <span id="Check_Boca_Si"></span>
                        </p>
                        <p>
                            Boca No: <span id="Check_Boca_No"></span>
                        </p>
                        <p>
                            Boca Diferido: <span id="Check_Boca_Diferido"></span>
                        </p>
                        <p>
                            Boca Describir: <span id="Describir_Hallazgos_Boca"></span>
                        </p>

                        <p>
                            Faringe Si: <span id="Check_Faringe_Si"></span>
                        </p>
                        <p>
                            Faringe No: <span id="Check_Faringe_No"></span>
                        </p>
                        <p>
                            Faringe Diferido: <span id="Check_Faringe_Diferido"></span>
                        </p>
                        <p>
                            Faringe Describir: <span id="Describir_Hallazgos_Faringe"></span>
                        </p>

                        <p>
                            Cuello Si: <span id="Check_Cuello_Si"></span>
                        </p>
                        <p>
                            Cuello No: <span id="Check_Cuello_No"></span>
                        </p>
                        <p>
                            Cuello Diferido: <span id="Check_Cuello_Diferido"></span>
                        </p>
                        <p>
                            Cuello Describir: <span id="Describir_Hallazgos_Cuello"></span>
                        </p>

                        <p>
                            Tórax Si: <span id="Check_Torax_Si"></span>
                        </p>
                        <p>
                            Tórax No: <span id="Check_Torax_No"></span>
                        </p>
                        <p>
                            Tórax Diferido: <span id="Check_Torax_Diferido"></span>
                        </p>
                        <p>
                            Tórax Describir: <span id="Describir_Hallazgos_Torax"></span>
                        </p>

                        <p>
                            Aparato Resp. Si: <span id="Check_AparatoR_Si"></span>
                        </p>
                        <p>
                            Aparato Resp. No: <span id="Check_AparatoR_No"></span>
                        </p>
                        <p>
                            Aparato Resp. Diferido: <span id="Check_AparatoR_Diferido"></span>
                        </p>
                        <p>
                            Aparato Resp. Describir: <span id="Describir_Hallazgos_AparatoR"></span>
                        </p>

                        <p>
                            Aparato Card. Si: <span id="Check_AparatoC_Si"></span>
                        </p>
                        <p>
                            Aparato Card. No: <span id="Check_AparatoC_No"></span>
                        </p>
                        <p>
                            Aparato Card. Diferido: <span id="Check_AparatoC_Diferido"></span>
                        </p>
                        <p>
                            Aparato Card. Describir: <span id="Describir_Hallazgos_AparatoC"></span>
                        </p>

                        <p>
                            Abdomen Si: <span id="Check_Abdomen_Si"></span>
                        </p>
                        <p>
                            Abdomen No: <span id="Check_Abdomen_No"></span>
                        </p>
                        <p>
                            Abdomen Diferido: <span id="Check_Abdomen_Diferido"></span>
                        </p>
                        <p>
                            Abdomen Describir: <span id="Describir_Hallazgos_Abdomen"></span>
                        </p>

                        <p>
                            Genitales Si: <span id="Check_Genitales_Si"></span>
                        </p>
                        <p>
                            Genitales No: <span id="Check_Genitales_No"></span>
                        </p>
                        <p>
                            Genitales Diferido: <span id="Check_Genitales_Diferido"></span>
                        </p>
                        <p>
                            Genitales Describir: <span id="Describir_Hallazgos_Genitales"></span>
                        </p>

                        <p>
                            Extremidades Si: <span id="Check_Extremidades_Si"></span>
                        </p>
                        <p>
                            Extremidades No: <span id="Check_Extremidades_No"></span>
                        </p>
                        <p>
                            Extremidades Diferido: <span id="Check_Extremidades_Diferido"></span>
                        </p>
                        <p>
                            Extremidades Describir: <span id="Describir_Hallazgos_Extremidades"></span>
                        </p>

                        <p>
                            Sistema Nervioso Si: <span id="Check_SistemaN_Si"></span>
                        </p>
                        <p>
                            Sistema Nervioso No: <span id="Check_SistemaN_No"></span>
                        </p>
                        <p>
                            Sistema Nervioso Diferido: <span id="Check_SistemaN_Diferido"></span>
                        </p>
                        <p>
                            Sistema Nervioso Describir: <span id="Describir_Hallazgos_SistemaN"></span>
                        </p>

                        <p>
                            Piel y Anexos Si: <span id="Check_pielanexos_Si"></span>
                        </p>
                        <p>
                            Piel y Anexos No: <span id="Check_pielanexos_No"></span>
                        </p>
                        <p>
                            Piel y Anexos Diferido: <span id="Check_pielYanexos_Diferido"></span>
                        </p>
                        <p>
                            Piel y Anexos Describir: <span id="Describir_Hallazgos_pielYanexos"></span>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*<script src="~/Areas/Admin/assets/js/jquery-3.2.1.min.js"></script>*@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    $(document).ready(function () {

        var table = $('#TblPaciente').DataTable();
        table.destroy();
        table = $('#TblPaciente').DataTable({
            paging: false,
            scroller: false,
            responsive: true,
            searching: false,
            info: true,
            lengthChange: false,
            pageLength: 20,
            language: {
                "zeroRecords": " ",
                "info": "_TOTAL_ px",
                "search": "Buscar:",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        let timerInterval
        Swal.fire({
            title: 'Busque al px. y seleccione la H.C. que desea ver',
            timer: 3500,
            timerProgressBar: true,
            willClose: () => {
                clearInterval(timerInterval)
            }
        });
    });

    //Si dan click en Enter en los inputs de Nombre/Expediente
    $('.BuscarPX').on("keypress", function (e) {
        if (e.keyCode == 13) {
            FuncionBuscarPX();
            return false;
        }
    });

    //Si dan click en el botón de Buscar
    function BtnBuscarPX() {
        FuncionBuscarPX();
    };

    function FuncionBuscarPX() {
	    var ExpedientePX = $("#ExpedientePX").val();

	    Swal.fire({
		    title: 'Cargando... Espere por favor',
		    timer: 1000,
		    timerProgressBar: true,
	    });

	    $.ajax({
		    url: '@Url.Action("BuscarHistoria", "HistoriaClinica")',
		    method: 'POST',
		    dataType: 'json',
		    data: {
                ExpedientePX: ExpedientePX
		    },
		    success: function(data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    LlenaTablaHistorias(data.HISTORIAS);
			    }
			    if (data.MENSAJE.substring(0, 6) == "Error:") {
				    Swal.fire({
					    icon: 'error',
					    title: '¡Error!',
					    text: data.MENSAJE.substring(7),
				    });
			    }
		    },
		    error: function(ex) {
			    Swal.fire({
				    icon: 'error',
				    title: '¡Error!',
			    });
		    }
	    });

    };

    function LlenaTablaHistorias(HISTORIAS) {
        var table = $('#TblPaciente').DataTable();
        table.destroy();

        table = $('#TblPaciente').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: false,
            scrollColapse: true,
            paging: false,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron historias",
                "info": "",
                "search": "",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: HISTORIAS,
            /*order: [[2, 'asc']],*/
            columns: [
                { 'data': 'Nombre', className: "text-center" },
                { 'data': 'PrimerApellido', className: "text-center" },
                { 'data': 'FechaReg', className: "text-center" },
                { 'data': 'Tipo', className: "text-center" },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="ver historia" id="VerDetalle" class="btn btn-success fa fa-check" data-toggle="modal" ></button>',
                    "target": -2
                }
            ]
        });
    }

    $('#TblPaciente tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        row = $('#TblPaciente').DataTable().row(tr);

        //Este es el Identificador armado que se inserta en cada tbl de la H.C.
        var Clave_hc_px = row.data().Clave;

        $.ajax({
		    url: '@Url.Action("ConsultarHC", "HistoriaClinica")',
		    method: 'POST',
		    dataType: 'json',
            data: { Clave_hc_px: Clave_hc_px },
            success: function (data) {

                // #region Seteo de valor con input del MODAL
                //hc_ficha_identificacion
                $("#acompanante").text(data.acompanante);
                $("#NombreAcompa").text(data.NombreAcompa);
                $("#alergia").text(data.alergia);
                $("#NombreAlergia").text(data.NombreAlergia);
                $("#MotivoCons").text(data.MotivoCons);
                //hc_evaluacion_social
                $("#estadocivil").text(data.estadocivil);
                $("#numeropersonas").text(data.numeropersonas);
                $("#numerohabitaciones").text(data.numerohabitaciones);
                $("#hacinamiento").text(data.hacinamiento);
                $("#escolaridad").text(data.escolaridad);
                $("#GradoEsc").text(data.GradoEsc);
                $("#PromedioEsc").text(data.PromedioEsc);
                $("#reprobado").text(data.reprobado);
                $("#EspecifiqueReprobado").text(data.EspecifiqueReprobado);
                $("#Desercion").text(data.Desercion);
                $("#Guarderia").text(data.Guarderia);
                $("#Cuidador").text(data.Cuidador);
                $("#Problemas").text(data.Problemas);
                $("#ProblemasMaestros").text(data.ProblemasMaestros);
                $("#Ocupacio").text(data.Ocupacio);
                $("#TipoTrab").text(data.TipoTrab);
                $("#RiesgoSos").text(data.RiesgoSos);
                $("#ServicioSal").text(data.ServicioSal);
                //hc_valoracion_familiar
                $("#mamaPaciente").text(data.mamaPaciente);
                $("#EdadMama").text(data.EdadMama);
                $("#GradoMama").text(data.GradoMama);
                $("#OcupacionMama").text(data.OcupacionMama);
                $("#TipoTrabajoMama").text(data.TipoTrabajoMama);
                $("#papaPaciente").text(data.papaPaciente);
                $("#EdadPapa").text(data.EdadPapa);
                $("#GradoPapa").text(data.GradoPapa);
                $("#OcupacionPapa").text(data.OcupacionPapa);
                $("#TipoTrabajoPapa").text(data.TipoTrabajoPapa);
                $("#ViveCon").text(data.ViveCon);
                $("#tieneHermanos").text(data.tieneHermanos);
                $("#CuantosHermanos").text(data.CuantosHermanos);
                $("#EspecifiqueEnf").text(data.EspecifiqueEnf);
                $("#involucraTratamiento").text(data.involucraTratamiento);
                $("#EspecifiqueInvol").text(data.EspecifiqueInvol);
                $("#riesgoSocial").text(data.riesgoSocial);
                //hc_evaliacion_economica
                $("#beneficiarioPrograma").text(data.beneficiarioPrograma);
                $("#EspecifiqueBeneficiario").text(data.EspecifiqueBeneficiario);
                $("#rolEconimico").text(data.rolEconimico);
                $("#EspecifiqueRol").text(data.EspecifiqueRol);
                $("#riesgoEconomico").text(data.riesgoEconomico);
                //hc_valores_creencias
                $("#perteneceReligion").text(data.perteneceReligion);
                $("#religion").text(data.religion);
                $("#EspecifiqueReligion").text(data.EspecifiqueReligion);
                $("#creenciaReligiosa").text(data.creenciaReligiosa);
                $("#EspecifiqueCreencia").text(data.EspecifiqueCreencia);
                $("#costumbreValores").text(data.costumbreValores);
                $("#EspecifiqueCostumbres").text(data.EspecifiqueCostumbres);
                //hc_factores_riesgo_psicologicos
                $("#CambiosSueño").text(data.CambiosSueño);
                $("#CambiosEnergia").text(data.CambiosEnergia);
                $("#CambiosApetito").text(data.CambiosApetito);
                $("#Pesimismo").text(data.Pesimismo);
                $("#Irritabilidad").text(data.Irritabilidad);
                $("#PerdidaPlacer").text(data.PerdidaPlacer);
                $("#PalpitacionesFuertes").text(data.PalpitacionesFuertes);
                $("#SensacionAahogo").text(data.SensacionAahogo);
                $("#MiedoPreocupacion").text(data.MiedoPreocupacion);
                $("#IdeacionSuicida").text(data.IdeacionSuicida);
                //antecedentes familiares (antes hc_habitos)
                $("#Check_Adicciones_Padre").text(data.Check_Adicciones_Padre);
                $("#Check_Adicciones_Madre").text(data.Check_Adicciones_Madre);
                $("#Check_Adicciones_Ambas").text(data.Check_Adicciones_Ambas);
                $("#Check_Adicciones_NA").text(data.Check_Adicciones_NA);
                $("#Check_Cardiopatia_Padre").text(data.Check_Cardiopatia_Padre);
                $("#Check_Cardiopatia_Madre").text(data.Check_Cardiopatia_Madre);
                $("#Check_Cardiopatia_Ambas").text(data.Check_Cardiopatia_Ambas);
                $("#Check_Cardiopatia_NA").text(data.Check_Cardiopatia_NA);
                $("#Check_Diabetes_Padre").text(data.Check_Diabetes_Padre);
                $("#Check_Diabetes_Madre").text(data.Check_Diabetes_Madre);
                $("#Check_Diabetes_Ambas").text(data.Check_Diabetes_Ambas);
                $("#Check_Diabetes_NA").text(data.Check_Diabetes_NA);
                $("#Check_Dislipidemias_Padre").text(data.Check_Dislipidemias_Padre);
                $("#Check_Dislipidemias_Madre").text(data.Check_Dislipidemias_Madre);
                $("#Check_Dislipidemias_Ambas").text(data.Check_Dislipidemias_Ambas);
                $("#Check_Dislipidemias_NA").text(data.Check_Dislipidemias_NA);
                $("#Check_Epilepsia_Padre").text(data.Check_Epilepsia_Padre);
                $("#Check_Epilepsia_Madre").text(data.Check_Epilepsia_Madre);
                $("#Check_Epilepsia_Ambas").text(data.Check_Epilepsia_Ambas);
                $("#Check_Epilepsia_NA").text(data.Check_Epilepsia_NA);
                $("#Check_Hipertension_Padre").text(data.Check_Hipertension_Padre);
                $("#Check_Hipertension_Madre").text(data.Check_Hipertension_Madre);
                $("#Check_Hipertension_Ambas").text(data.Check_Hipertension_Ambas);
                $("#Check_Hipertension_NA").text(data.Check_Hipertension_NA);
                $("#Check_Infectocontagiosas_Padre").text(data.Check_Infectocontagiosas_Padre);
                $("#Check_Infectocontagiosas_Madre").text(data.Check_Infectocontagiosas_Madre);
                $("#Check_Infectocontagiosas_Ambas").text(data.Check_Infectocontagiosas_Ambas);
                $("#Check_Infectocontagiosas_NA").text(data.Check_Infectocontagiosas_NA);
                $("#Check_Malformaciones_Padre").text(data.Check_Malformaciones_Padre);
                $("#Check_Malformaciones_Madre").text(data.Check_Malformaciones_Madre);
                $("#Check_Malformaciones_Ambas").text(data.Check_Malformaciones_Ambas);
                $("#Check_Malformaciones_NA").text(data.Check_Malformaciones_NA);
                $("#Check_Nefropatias_Padre").text(data.Check_Nefropatias_Padre);
                $("#Check_Nefropatias_Madre").text(data.Check_Nefropatias_Madre);
                $("#Check_Nefropatias_Ambas").text(data.Check_Nefropatias_Ambas);
                $("#Check_Nefropatias_NA").text(data.Check_Nefropatias_NA);
                $("#Check_Obesidad_Padre").text(data.Check_Obesidad_Padre);
                $("#Check_Obesidad_Madre").text(data.Check_Obesidad_Madre);
                $("#Check_Obesidad_Ambas").text(data.Check_Obesidad_Ambas);
                $("#Check_Obesidad_NA").text(data.Check_Obesidad_NA);
                $("#Check_Oncologicos_Padre").text(data.Check_Oncologicos_Padre);
                $("#Check_Oncologicos_Madre").text(data.Check_Oncologicos_Madre);
                $("#Check_Oncologicos_Ambas").text(data.Check_Oncologicos_Ambas);
                $("#Check_Oncologicos_NA").text(data.Check_Oncologicos_NA);
                //hc_antecedentes_patologicos
                $("#Antecedentes").text(data.Antecedentes);
                $("#PxHospitalizado").text(data.PxHospitalizado);
                $("#EspecifiqueHospitalizado").text(data.EspecifiqueHospitalizado);
                $("#RealizadoCirugia").text(data.RealizadoCirugia);
                $("#EspecifiqueCirugia").text(data.EspecifiqueCirugia);
                $("#CheckRespiratorios").text(data.CheckRespiratorios);
                $("#CheckEndocrinologicos").text(data.CheckEndocrinologicos);
                $("#CheckCardiovasculares").text(data.CheckCardiovasculares);
                $("#CheckOncologicos").text(data.CheckOncologicos);
                $("#CheckSaludMental").text(data.CheckSaludMental);
                $("#CheckNeurologicos").text(data.CheckNeurologicos);
                $("#CheckInfectoContagiosos").text(data.CheckInfectoContagiosos);
                $("#CheckProblemasAparatoR").text(data.CheckProblemasAparatoR);
                $("#CheckProblemasGastro").text(data.CheckProblemasGastro);
                $("#CheckReumatologicos").text(data.CheckReumatologicos);
                $("#CheckNinguna").text(data.CheckNinguna);
                $("#DetallarRespiratorios").text(data.DetallarRespiratorios);
                $("#DetallarEndocrinologicos").text(data.DetallarEndocrinologicos);
                $("#DetallarCardiovasculares").text(data.DetallarCardiovasculares);
                $("#DetallarOncologicos").text(data.DetallarOncologicos);
                $("#DetallarSaludMental").text(data.DetallarSaludMental);
                $("#DetallarNeurologicos").text(data.DetallarNeurologicos);
                $("#DetallarInfectoContagiosos").text(data.DetallarInfectoContagiosos);
                $("#DetallarProblemasAparatoR").text(data.DetallarProblemasAparatoR);
                $("#DetallarProblemasGastro").text(data.DetallarProblemasGastro);
                $("#DetallarReumatologicos").text(data.DetallarReumatologicos);
                //hc_historial_consumo
                $("#TomaAlcohol").text(data.TomaAlcohol);
                $("#TomaAlcoholFrecuencia").text(data.TomaAlcoholFrecuencia);
                $("#CantidadAlcohol").text(data.CantidadAlcohol);
                $("#Fuma").text(data.Fuma);
                $("#EdadInicio").text(data.EdadInicio);
                $("#ActualmenteFuma").text(data.ActualmenteFuma);
                $("#TiempoInactividadFuma").text(data.TiempoInactividadFuma);
                $("#TipoFuma").text(data.TipoFuma);
                $("#FrecuenciaFuma").text(data.FrecuenciaFuma);
                $("#CantidadFuma").text(data.CantidadFuma);
                $("#ConsumeDroga").text(data.ConsumeDroga);
                $("#TipoDrogaConsume").text(data.TipoDrogaConsume);
                $("#FrecuenciaDroga").text(data.FrecuenciaDroga);
                $("#CantidadDrogaConsume").text(data.CantidadDrogaConsume);
                //hc_interrogatorio
                $("#Check_SintomasG_Si").text(data.Check_SintomasG_Si);
                $("#Check_SintomasG_No").text(data.Check_SintomasG_No);
                $("#Describir_SintomasG").text(data.Describir_SintomasG);
                $("#Check_Respiratorio_Si").text(data.Check_Respiratorio_Si);
                $("#Check_Respiratorio_No").text(data.Check_Respiratorio_No);
                $("#Describir_Respiratorio").text(data.Describir_Respiratorio);
                $("#Check_Neurologico_Si").text(data.Check_Neurologico_Si);
                $("#Check_Neurologico_No").text(data.Check_Neurologico_No);
                $("#Describir_Neurologico").text(data.Describir_Neurologico);
                $("#Check_pielYanexos_Si").text(data.Check_pielYanexos_Si);
                $("#Check_pielYanexos_No").text(data.Check_pielYanexos_No);
                $("#Describir_pielYanexos").text(data.Describir_pielYanexos);
                $("#Check_Hematologico_Si").text(data.Check_Hematologico_Si);
                $("#Check_Hematologico_No").text(data.Check_Hematologico_No);
                $("#Describir_Hematologico").text(data.Describir_Hematologico);
                $("#Check_Digestivo_Si").text(data.Check_Digestivo_Si);
                $("#Check_Digestivo_No").text(data.Check_Digestivo_No);
                $("#Describir_Digestivo").text(data.Describir_Digestivo);
                $("#Check_Genitourinario_Si").text(data.Check_Genitourinario_Si);
                $("#Check_Genitourinario_No").text(data.Check_Genitourinario_No);
                $("#Describir_Genitourinario").text(data.Describir_Genitourinario);
                $("#Check_Cardiovascular_Si").text(data.Check_Cardiovascular_Si);
                $("#Check_Cardiovascular_No").text(data.Check_Cardiovascular_No);
                $("#Describir_Cardiovascular").text(data.Describir_Cardiovascular);
                $("#Check_Musculoesqueletico_Si").text(data.Check_Musculoesqueletico_Si);
                $("#Check_Musculoesqueletico_No").text(data.Check_Musculoesqueletico_No);
                $("#Describir_Musculoesqueletico").text(data.Describir_Musculoesqueletico);
                $("#Check_Renal_Si").text(data.Check_Renal_Si);
                $("#Check_Renal_No").text(data.Check_Renal_No);
                $("#Describir_Renal").text(data.Describir_Renal);
                $("#Check_Inmune_Si").text(data.Check_Inmune_Si);
                $("#Check_Inmune_No").text(data.Check_Inmune_No);
                $("#Describir_Inmune").text(data.Describir_Inmune);
                //RiesgoCaidas
                $("#PuntuajeEscala").text(data.PuntuajeEscala);
                //Exploracion
                $("#Check_Craneo_Si").text(data.Check_Craneo_Si);
                $("#Check_Craneo_No").text(data.Check_Craneo_No);
                $("#Check_Craneo_Diferido").text(data.Check_Craneo_Diferido);
                $("#Describir_Hallazgos_Craneo").text(data.Describir_Hallazgos_Craneo);
                $("#Check_Cara_Si").text(data.Check_Cara_Si);
                $("#Check_Cara_No").text(data.Check_Cara_No);
                $("#Check_Cara_Diferido").text(data.Check_Cara_Diferido);
                $("#Describir_Hallazgos_Cara").text(data.Describir_Hallazgos_Cara);
                $("#Check_Ojos_Si").text(data.Check_Ojos_Si);
                $("#Check_Ojos_No").text(data.Check_Ojos_No);
                $("#Check_Ojos_Diferido").text(data.Check_Ojos_Diferido);
                $("#Describir_Hallazgos_Ojos").text(data.Describir_Hallazgos_Ojos);
                $("#Check_Nariz_Si").text(data.Check_Nariz_Si);
                $("#Check_Nariz_No").text(data.Check_Nariz_No);
                $("#Check_Nariz_Diferido").text(data.Check_Nariz_Diferido);
                $("#Describir_Hallazgos_Nariz").text(data.Describir_Hallazgos_Nariz);
                $("#Check_Oidos_Si").text(data.Check_Oidos_Si);
                $("#Check_Oidos_No").text(data.Check_Oidos_No);
                $("#Check_Oidos_Diferido").text(data.Check_Oidos_Diferido);
                $("#Describir_Hallazgos_Oidos").text(data.Describir_Hallazgos_Oidos);
                $("#Check_Boca_Si").text(data.Check_Boca_Si);
                $("#Check_Boca_No").text(data.Check_Boca_No);
                $("#Check_Boca_Diferido").text(data.Check_Boca_Diferido);
                $("#Describir_Hallazgos_Boca").text(data.Describir_Hallazgos_Boca);
                $("#Check_Faringe_Si").text(data.Check_Faringe_Si);
                $("#Check_Faringe_No").text(data.Check_Faringe_No);
                $("#Check_Faringe_Diferido").text(data.Check_Faringe_Diferido);
                $("#Describir_Hallazgos_Faringe").text(data.Describir_Hallazgos_Faringe);
                $("#Check_Cuello_Si").text(data.Check_Cuello_Si);
                $("#Check_Cuello_No").text(data.Check_Cuello_No);
                $("#Check_Cuello_Diferido").text(data.Check_Cuello_Diferido);
                $("#Describir_Hallazgos_Cuello").text(data.Describir_Hallazgos_Cuello);
                $("#Check_Torax_Si").text(data.Check_Torax_Si);
                $("#Check_Torax_No").text(data.Check_Torax_No);
                $("#Check_Torax_Diferido").text(data.Check_Torax_Diferido);
                $("#Describir_Hallazgos_Torax").text(data.Describir_Hallazgos_Torax);
                $("#Check_AparatoR_Si").text(data.Check_AparatoR_Si);
                $("#Check_AparatoR_No").text(data.Check_AparatoR_No);
                $("#Check_AparatoR_Diferido").text(data.Check_AparatoR_Diferido);
                $("#Describir_Hallazgos_AparatoR").text(data.Describir_Hallazgos_AparatoR);
                $("#Check_AparatoC_Si").text(data.Check_AparatoC_Si);
                $("#Check_AparatoC_No").text(data.Check_AparatoC_No);
                $("#Check_AparatoC_Diferido").text(data.Check_AparatoC_Diferido);
                $("#Describir_Hallazgos_AparatoC").text(data.Describir_Hallazgos_AparatoC);
                $("#Check_Abdomen_Si").text(data.Check_Abdomen_Si);
                $("#Check_Abdomen_No").text(data.Check_Abdomen_No);
                $("#Check_Abdomen_Diferido").text(data.Check_Abdomen_Diferido);
                $("#Describir_Hallazgos_Abdomen").text(data.Describir_Hallazgos_Abdomen);
                $("#Check_Genitales_Si").text(data.Check_Genitales_Si);
                $("#Check_Genitales_No").text(data.Check_Genitales_No);
                $("#Check_Genitales_Diferido").text(data.Check_Genitales_Diferido);
                $("#Describir_Hallazgos_Genitales").text(data.Describir_Hallazgos_Genitales);
                $("#Check_Extremidades_Si").text(data.Check_Extremidades_Si);
                $("#Check_Extremidades_No").text(data.Check_Extremidades_No);
                $("#Check_Extremidades_Diferido").text(data.Check_Extremidades_Diferido);
                $("#Describir_Hallazgos_Extremidades").text(data.Describir_Hallazgos_Extremidades);
                $("#Check_SistemaN_Si").text(data.Check_SistemaN_Si);
                $("#Check_SistemaN_No").text(data.Check_SistemaN_No);
                $("#Check_SistemaN_Diferido").text(data.Check_SistemaN_Diferido);
                $("#Describir_Hallazgos_SistemaN").text(data.Describir_Hallazgos_SistemaN);
                $("#Check_pielanexos_Si").text(data.Check_pielanexos_Si);
                $("#Check_pielanexos_No").text(data.Check_pielanexos_No);
                $("#Check_pielYanexos_Diferido").text(data.Check_pielYanexos_Diferido);
                $("#Describir_Hallazgos_pielYanexos").text(data.Describir_Hallazgos_pielYanexos);
                
                // #endregion

                //Mostrar modal
                $('#exampleModal').modal('show');
                
		    },
		    error: function(ex) {
			    Swal.fire({
				    icon: 'error',
				    title: '¡Error!',
			    });
		    }
	    });
    });



</script>

