
@{
    ViewBag.Title = "";
}

<style>

    .modal {
        padding: 0 !important;
    }

    #myModal .modal-dialog {
        max-width: none;
        height: 100%;
        margin: 0;
    }

    .modal-open .main-wrapper {
        filter: none;
    }

    .fa-plus-circle {
        float: right;
    }

    /*#myModal {
        top: 100px;
        left: 100px;
        z-index: 1;
        transform: rotate(360deg);
    }*/

</style>

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Búsqueda de Historia Clínica</h3>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12" id="BusquedaPX">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control BuscarPX" id="ExpedientePX" placeholder="Expediente PX" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <button class="btn btn-primary" onclick="BtnBuscarPX()">Buscar</button>
                    </div>
                    <div class="col-md-3 mb-3">

                    </div>
                </div>
                <div>
                    <div class="table-responsive">
                        <table id="TblPaciente" class="datatable table table-stripped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        Nombre
                                    </th>
                                    <th style="text-align:center">
                                        Primer Apellido
                                    </th>
                                    <th style="text-align:center">
                                        Fecha Registro H.C.
                                    </th>
                                    <th style="width:5px">Ver H.C.</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Historia Clínica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>

                    <h4 class="collapsed" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Ficha de Identificación <i class="fa fa-plus-circle"></i>
                    </h4>

                </p>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">

                        <p>
                            ¿El paciente trae acompañante? <span id="acompanante"></span>
                        </p>
                        <p>
                            Acompañante Especificado <span id="NombreAcompa"></span>
                        </p>

                        <p>
                            ¿Padece de alguna alergia? <span id="alergia"></span>
                        </p>
                        <p>
                            Alergia Especificada <span id="NombreAlergia"></span>
                        </p>

                        <p>
                            Motivo de consulta <span id="MotivoCons"></span>
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Evaluacion Social <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <p>
                            Estado Civil
                        </p>
                        <p>
                            Número de personas que viven en el domicilio
                        </p>
                        <p>
                            ¿Hay hacinamiento?
                        </p>
                        <p>
                            Escolaridad
                        </p>
                        <p>
                            Grado Escolar
                        </p>
                        <p>
                            Promedio escolar
                        </p>
                        <p>
                            Ha reprobado un año escolar
                        </p>
                        <p>
                            Reprobado especificación
                        </p>
                        <p>
                            Deserción escolar
                        </p>
                        <p>
                            El paciente acude a guardería/estancia infantil
                        </p>
                        <p>
                            Cuenta con servicios de salud
                        </p>
                        <p>
                            Quien cuida del paciente
                        </p>
                        <p>
                            Tiene problemas con compañeros
                        </p>
                        <p>
                            Tiene problemas con maestros
                        </p>
                        <p>
                            Ocupación
                        </p>
                        <p>
                            Tipo de trabajo
                        </p>
                        <p>
                            Tiene riesgo social
                        </p>
                    </div>
                </div>

                <hr />

                <p>
                    <h4 data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                        Valoración familiar <i class="fa fa-plus-circle"></i>
                    </h4>
                </p>

                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        <p>
                            La mamá del paciente actualmente se encuentra
                        </p>
                        <p>
                            Edad de la mamá
                        </p>
                        <p>
                            Grado escolar de la mamá
                        </p>
                        <p>
                            Ocupación de la mamá
                        </p>
                        <p>
                            Tipo de trabajo de la mamá
                        </p>
                        <p>
                            El papá del paciente actualmente se encuentra
                        </p>
                        <p>
                            Edad del papá
                        </p>
                        <p>
                            Grado escolar del papá
                        </p>
                        <p>
                            Ocupación del papá
                        </p>
                        <p>
                            Tipo de trabajo del papá
                        </p>
                        <p>
                            Con quien vive
                        </p>
                        <p>Tiene Hermanos</p>
                        <p>Cuantos hermanos tiene</p>
                        <p>Padece alguna enfermedad</p>
                        <p>Alguien se involucra en su tratamiento</p>
                        <p>Quien se involucra en su tratamiento</p>
                        <p>Riesgo Social</p>
                    </div>
                </div>

                <hr />


            </div>
        </div>
    </div>
</div>




<script src="~/Areas/Admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    $(document).ready(function () {

        var table = $('#TblPaciente').DataTable();
        table.destroy();
        table = $('#TblPaciente').DataTable({
            paging: false,
            scroller: false,
            responsive: true,
            searching: false,
            info: true,
            lengthChange: false,
            pageLength: 20,
            language: {
                "zeroRecords": "",
                "info": "_TOTAL_ px",
                "search": "Buscar:",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        let timerInterval
        Swal.fire({
            title: 'Busque al px. y seleccione la H.C. que desea ver',
            timer: 3500,
            timerProgressBar: true,
            willClose: () => {
                clearInterval(timerInterval)
            }
        });
    });

    //Si dan click en Enter en los inputs de Nombre/Expediente
    $('.BuscarPX').on("keypress", function (e) {
        if (e.keyCode == 13) {
            FuncionBuscarPX();
            return false;
        }
    });

    //Si dan click en el botón de Buscar
    function BtnBuscarPX() {
        FuncionBuscarPX();
    };

    function FuncionBuscarPX() {
	    var ExpedientePX = $("#ExpedientePX").val();

	    Swal.fire({
		    title: 'Cargando... Espere por favor',
		    timer: 1000,
		    timerProgressBar: true,
	    });

	    $.ajax({
		    url: '@Url.Action("BuscarHistoria", "HistoriaClinica")',
		    method: 'POST',
		    dataType: 'json',
		    data: {
                ExpedientePX: ExpedientePX
		    },
		    success: function(data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    LlenaTablaHistorias(data.HISTORIAS);
			    }
			    if (data.MENSAJE.substring(0, 6) == "Error:") {
				    Swal.fire({
					    icon: 'error',
					    title: '¡Error!',
					    text: data.MENSAJE.substring(7),
				    });
			    }
		    },
		    error: function(ex) {
			    Swal.fire({
				    icon: 'error',
				    title: '¡Error!',
			    });
		    }
	    });

    };

    function LlenaTablaHistorias(HISTORIAS) {
        var table = $('#TblPaciente').DataTable();
        table.destroy();

        table = $('#TblPaciente').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: false,
            scrollColapse: true,
            paging: false,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron historias",
                "info": "",
                "search": "",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: HISTORIAS,
            columns: [
                { 'data': 'Nombre', className: "text-center" },
                { 'data': 'PrimerApellido', className: "text-center" },
                { 'data': 'FechaReg', className: "text-center" },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Seleccionar px" id="VerDetalle" class="btn btn-success fa fa-check" data-toggle="modal" ></button>',
                    "target": -2
                }
            ]
        });
    }

    $('#TblPaciente tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        row = $('#TblPaciente').DataTable().row(tr);

        //Este es el Identificador armado que se inserta en cada tbl de la H.C.
        var Clave_hc_px = row.data().Clave;

        //alert(Clave_hc_px);

        $.ajax({
		    url: '@Url.Action("ConsultarHC", "HistoriaClinica")',
		    method: 'POST',
		    dataType: 'json',
            data: { Clave_hc_px: Clave_hc_px },
		    success: function(data) {
                //hc_ficha_identificacion
                $("#acompanante").text(data.acompanante);
                $("#NombreAcompa").text(data.NombreAcompa);
                $("#alergia").text(data.alergia);
                $("#NombreAlergia").text(data.NombreAlergia);
                $("#MotivoCons").text(data.MotivoCons);
                //hc_evaluacion_social
                $("#estadocivil").text(data.estadocivil);
                $("#numeropersonas").text(data.numeropersonas);
                $("#numerohabitaciones").text(data.numerohabitaciones);
                $("#hacinamiento").text(data.hacinamiento);
                $("#escolaridad").text(data.escolaridad);
                $("#GradoEsc").text(data.GradoEsc);
                $("#PromedioEsc").text(data.PromedioEsc);
                $("#reprobado").text(data.reprobado);
                $("#EspecifiqueReprobado").text(data.EspecifiqueReprobado);
                $("#Desercion").text(data.Desercion);
                $("#Guarderia").text(data.Guarderia);
                $("#Cuidador").text(data.Cuidador);
                $("#Problemas").text(data.Problemas);
                $("#ProblemasMaestros").text(data.ProblemasMaestros);
                $("#Ocupacio").text(data.Ocupacio);
                $("#TipoTrab").text(data.TipoTrab);
                $("#RiesgoSos").text(data.RiesgoSos);
                $("#ServicioSal").text(data.ServicioSal);
                //hc_valoracion_familiar
                $("#mamaPaciente").text(data.mamaPaciente);
                $("#EdadMama").text(data.EdadMama);
                $("#GradoMama").text(data.GradoMama);
                $("#OcupacionMama").text(data.OcupacionMama);
                $("#TipoTrabajoMama").text(data.TipoTrabajoMama);
                $("#papaPaciente").text(data.papaPaciente);
                $("#EdadPapa").text(data.EdadPapa);
                $("#GradoPapa").text(data.GradoPapa);
                $("#OcupacionPapa").text(data.OcupacionPapa);
                $("#TipoTrabajoPapa").text(data.TipoTrabajoPapa);
                $("#ViveCon").text(data.ViveCon);
                $("#tieneHermanos").text(data.tieneHermanos);
                $("#CuantosHermanos").text(data.CuantosHermanos);
                $("#EspecifiqueEnf").text(data.EspecifiqueEnf);
                $("#involucraTratamiento").text(data.involucraTratamiento);
                $("#EspecifiqueInvol").text(data.EspecifiqueInvol);
                $("#riesgoSocial").text(data.riesgoSocial);
                //hc_evaliacion_economica
                $("#beneficiarioPrograma").text(data.beneficiarioPrograma);
                $("#EspecifiqueBeneficiario").text(data.EspecifiqueBeneficiario);
                $("#rolEconimico").text(data.rolEconimico);
                $("#EspecifiqueRol").text(data.EspecifiqueRol);
                $("#riesgoEconomico").text(data.riesgoEconomico);
                //hc_valores_creencias
                $("#perteneceReligion").text(data.perteneceReligion);
                $("#religion").text(data.religion);
                $("#EspecifiqueReligion").text(data.EspecifiqueReligion);
                $("#creenciaReligiosa").text(data.creenciaReligiosa);
                $("#EspecifiqueCreencia").text(data.EspecifiqueCreencia);
                $("#costumbreValores").text(data.costumbreValores);
                $("#EspecifiqueCostumbres").text(data.EspecifiqueCostumbres);
                //hc_factores_riesgo_psicologicos
                $("#CambiosSueño").text(data.CambiosSueño);
                $("#CambiosEnergia").text(data.CambiosEnergia);
                $("#CambiosApetito").text(data.CambiosApetito);
                $("#Pesimismo").text(data.Pesimismo);
                $("#Irritabilidad").text(data.Irritabilidad);
                $("#PerdidaPlacer").text(data.PerdidaPlacer);
                $("#PalpitacionesFuertes").text(data.PalpitacionesFuertes);
                $("#SensacionAahogo").text(data.SensacionAahogo);
                $("#MiedoPreocupacion").text(data.MiedoPreocupacion);
                $("#IdeacionSuicida").text(data.IdeacionSuicida);
                //hc_habitos
                $("#HorasSueño").text(data.HorasSueño);
                $("#TieneInsomnio").text(data.TieneInsomnio);
                $("#TieneEnuresis").text(data.TieneEnuresis);
                $("#TienePesadillas").text(data.TienePesadillas);
                $("#HorasOcio").text(data.HorasOcio);
                $("#ActividadFisica").text(data.ActividadFisica);
                $("#TiempoActividadFisica").text(data.TiempoActividadFisica);
                $("#FrecuenciaActividadFisica").text(data.FrecuenciaActividadFisica);
                $("#Check_Adicciones_Padre").text(data.Check_Adicciones_Padre);
                $("#Check_Adicciones_Madre").text(data.Check_Adicciones_Madre);
                $("#Check_Adicciones_Ambas").text(data.Check_Adicciones_Ambas);
                $("#Check_Adicciones_NA").text(data.Check_Adicciones_NA);
                $("#Check_Cardiopatia_Padre").text(data.Check_Cardiopatia_Padre);
                $("#Check_Cardiopatia_Madre").text(data.Check_Cardiopatia_Madre);
                $("#Check_Cardiopatia_Ambas").text(data.Check_Cardiopatia_Ambas);
                $("#Check_Cardiopatia_NA").text(data.Check_Cardiopatia_NA);
                $("#Check_Diabetes_Padre").text(data.Check_Diabetes_Padre);
                $("#Check_Diabetes_Madre").text(data.Check_Diabetes_Madre);
                $("#Check_Diabetes_Ambas").text(data.Check_Diabetes_Ambas);
                $("#Check_Diabetes_NA").text(data.Check_Diabetes_NA);
                $("#Check_Dislipidemias_Padre").text(data.Check_Dislipidemias_Padre);
                $("#Check_Dislipidemias_Madre").text(data.Check_Dislipidemias_Madre);
                $("#Check_Dislipidemias_Ambas").text(data.Check_Dislipidemias_Ambas);
                $("#Check_Dislipidemias_NA").text(data.Check_Dislipidemias_NA);
                $("#Check_Epilepsia_Padre").text(data.Check_Epilepsia_Padre);
                $("#Check_Epilepsia_Madre").text(data.Check_Epilepsia_Madre);
                $("#Check_Epilepsia_Ambas").text(data.Check_Epilepsia_Ambas);
                $("#Check_Epilepsia_NA").text(data.Check_Epilepsia_NA);
                $("#Check_Hipertension_Padre").text(data.Check_Hipertension_Padre);
                $("#Check_Hipertension_Madre").text(data.Check_Hipertension_Madre);
                $("#Check_Hipertension_Ambas").text(data.Check_Hipertension_Ambas);
                $("#Check_Hipertension_NA").text(data.Check_Hipertension_NA);
                $("#Check_Infectocontagiosas_Padre").text(data.Check_Infectocontagiosas_Padre);
                $("#Check_Infectocontagiosas_Madre").text(data.Check_Infectocontagiosas_Madre);
                $("#Check_Infectocontagiosas_Ambas").text(data.Check_Infectocontagiosas_Ambas);
                $("#Check_Infectocontagiosas_NA").text(data.Check_Infectocontagiosas_NA);
                $("#Check_Malformaciones_Padre").text(data.Check_Malformaciones_Padre);
                $("#Check_Malformaciones_Madre").text(data.Check_Malformaciones_Madre);
                $("#Check_Malformaciones_Ambas").text(data.Check_Malformaciones_Ambas);
                $("#Check_Malformaciones_NA").text(data.Check_Malformaciones_NA);
                $("#Check_Nefropatias_Padre").text(data.Check_Nefropatias_Padre);
                $("#Check_Nefropatias_Madre").text(data.Check_Nefropatias_Madre);
                $("#Check_Nefropatias_Ambas").text(data.Check_Nefropatias_Ambas);
                $("#Check_Nefropatias_NA").text(data.Check_Nefropatias_NA);
                $("#Check_Obesidad_Padre").text(data.Check_Obesidad_Padre);
                $("#Check_Obesidad_Madre").text(data.Check_Obesidad_Madre);
                $("#Check_Obesidad_Ambas").text(data.Check_Obesidad_Ambas);
                $("#Check_Obesidad_NA").text(data.Check_Obesidad_NA);
                $("#Check_Oncologicos_Padre").text(data.Check_Oncologicos_Padre);
                $("#Check_Oncologicos_Madre").text(data.Check_Oncologicos_Madre);
                $("#Check_Oncologicos_Ambas").text(data.Check_Oncologicos_Ambas);
                $("#Check_Oncologicos_NA").text(data.Check_Oncologicos_NA);
                //hc_antecedentes_perinatales
                $("#NumeroEmbarazo").text(data.NumeroEmbarazo);
                $("#EnfermedadEmbarazo").text(data.EnfermedadEmbarazo);
                $("#EspecifiqueEnfermedadEmbarazo").text(data.EspecifiqueEnfermedadEmbarazo);
                $("#TratamientoEmbarazo").text(data.TratamientoEmbarazo);
                $("#EspecifiqueTratamientoEmbarazo").text(data.EspecifiqueTratamientoEmbarazo);
                $("#LugarParto").text(data.LugarParto);
                $("#EspecifiqueLugarParto").text(data.EspecifiqueLugarParto);
                $("#EdadGestional").text(data.EdadGestional);
                $("#EspecifiqueEdadGestional").text(data.EspecifiqueEdadGestional);
                $("#Apgar").text(data.Apgar);
                $("#EspecifiqueApgar").text(data.EspecifiqueApgar);
                $("#TipoParto").text(data.TipoParto);
                $("#PartoFue").text(data.PartoFue);
                $("#EspecifiquePartoFue").text(data.EspecifiquePartoFue);
                $("#EspecifiqueMotivoCesarea").text(data.EspecifiqueMotivoCesarea);
                $("#ComplicacionObs").text(data.ComplicacionObs);
                $("#EspecifiqueComplicacionObs").text(data.EspecifiqueComplicacionObs);
                $("#TamizMetabolico").text(data.TamizMetabolico);
                $("#TamizMetabolicoOpciones").text(data.TamizMetabolicoOpciones);
                $("#TamizAuditivo").text(data.TamizAuditivo);
                $("#TamizAuditivoOpciones").text(data.TamizAuditivoOpciones);
                //hc_antecedentes_patologicos
                $("#Antecedentes").text(data.Antecedentes);
                $("#PxHospitalizado").text(data.PxHospitalizado);
                $("#EspecifiqueHospitalizado").text(data.EspecifiqueHospitalizado);
                $("#RealizadoCirugia").text(data.RealizadoCirugia);
                $("#EspecifiqueCirugia").text(data.EspecifiqueCirugia);
                $("#CheckRespiratorios").text(data.CheckRespiratorios);
                $("#CheckEndocrinologicos").text(data.CheckEndocrinologicos);
                $("#CheckCardiovasculares").text(data.CheckCardiovasculares);
                $("#CheckOncologicos").text(data.CheckOncologicos);
                $("#CheckSaludMental").text(data.CheckSaludMental);
                $("#CheckNeurologicos").text(data.CheckNeurologicos);
                $("#CheckInfectoContagiosos").text(data.CheckInfectoContagiosos);
                $("#CheckProblemasAparatoR").text(data.CheckProblemasAparatoR);
                $("#CheckProblemasGastro").text(data.CheckProblemasGastro);
                $("#CheckReumatologicos").text(data.CheckReumatologicos);
                $("#CheckNinguna").text(data.CheckNinguna);
                //hc_inmunizaciones
                $("#CartillaVacunacion").text(data.CartillaVacunacion);
                $("#EsquemaVacunacion").text(data.EsquemaVacunacion);
                $("#EspecifiqueVacuna").text(data.EspecifiqueVacuna);
                //hc_historial_consumo
                $("#TomaAlcohol").text(data.TomaAlcohol);
                $("#TomaAlcoholFrecuencia").text(data.TomaAlcoholFrecuencia);
                $("#CantidadAlcohol").text(data.CantidadAlcohol);
                $("#Fuma").text(data.Fuma);
                $("#EdadInicio").text(data.EdadInicio);
                $("#ActualmenteFuma").text(data.ActualmenteFuma);
                $("#TiempoInactividadFuma").text(data.TiempoInactividadFuma);
                $("#TipoFuma").text(data.TipoFuma);
                $("#FrecuenciaFuma").text(data.FrecuenciaFuma);
                $("#CantidadFuma").text(data.CantidadFuma);
                $("#ConsumeDroga").text(data.ConsumeDroga);
                $("#TipoDrogaConsume").text(data.TipoDrogaConsume);
                $("#FrecuenciaDroga").text(data.FrecuenciaDroga);
                $("#CantidadDrogaConsume").text(data.CantidadDrogaConsume);
                //hc_alimentacion
                $("#TipoLactancia").text(data.TipoLactancia);
                $("#TiempoLactancia").text(data.TiempoLactancia);
                $("#EdadAblactacion").text(data.EdadAblactacion);
                $("#AlimentosInicio").text(data.AlimentosInicio);
                $("#EdadIntegracion").text(data.EdadIntegracion);
                //hc_antecedentes_desarrollo
                $("#SostuvoCabeza").text(data.SostuvoCabeza);
                $("#EspecifiqueSostuvoCabeza").text(data.EspecifiqueSostuvoCabeza);
                $("#SeSento").text(data.SeSento);
                $("#EspecifiqueSeSento").text(data.EspecifiqueSeSento);
                $("#Camino").text(data.Camino);
                $("#EspecifiqueCamino").text(data.EspecifiqueCamino);
                $("#Habla").text(data.Habla);
                $("#EspecifiqueHabla").text(data.EspecifiqueHabla);
                $("#ControlEsfinteres").text(data.ControlEsfinteres);
                $("#EspecifiqueControlEsf").text(data.EspecifiqueControlEsf);
                $("#PruebaEDI").text(data.PruebaEDI);
                $("#EspecifiquePruebaEDI").text(data.EspecifiquePruebaEDI);
                //hc_antecedentes_ginecoobstetricos
                $("#Menarquia").text(data.Menarquia);
                $("#MotivoMenarquia").text(data.MotivoMenarquia);
                $("#RitmoMenarquia").text(data.RitmoMenarquia);
                $("#CantidadMenarquia").text(data.CantidadMenarquia);
                $("#ColoracionMenarquia").text(data.ColoracionMenarquia);
                $("#EspecifiqueColoracionMenarquia").text(data.EspecifiqueColoracionMenarquia);
                $("#VidaSexual").text(data.VidaSexual);
                $("#NumeroParejasSexuales").text(data.NumeroParejasSexuales);
                $("#TipoMenarquia").text(data.TipoMenarquia);

                //Mostrar modal
                $('#exampleModal').modal('show');

		    },
		    error: function(ex) {
			    Swal.fire({
				    icon: 'error',
				    title: '¡Error!',
			    });
		    }
	    });

    });



</script>

