
@{

}

<style>
    .nav-tabs.nav-tabs-bottom > li {
        margin-bottom: -1px;
        width: 110px;
        max-width: 110px;
        font-size: 10px;
    }

    .user-tabs .nav-tabs > li > a {
        padding: 5px;
    }
</style>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Historia Clínica Medicina</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="InfoPX">
                <div class="profile-header">
                    <div class="row align-items-center">
                        <div class="col-auto profile-image">
                            <a href="#">
                            </a>
                        </div>
                        <div class="col ml-md-n2 profile-user-info">
                            <h10 style="font-weight:bold;">Nombre: </h10>
                            <a id="Nombre"></a><br />
                            <h10 style="font-weight:bold;">Expediente: </h10>
                            <a id="Exp"></a><br />
                            <h10 style="font-weight:bold;">Edad: </h10>
                            <a id="Edad"></a><br />
                            <h10 style="font-weight:bold;">Sexo: </h10>
                            <a id="Sexo"></a><br />
                            <h10 style="font-weight:bold;">Fecha Nac.: </h10>
                            <a id="FechaNac"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" id="BusquedaPX">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Busque al px.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control BuscarPX" id="NombrePX" placeholder="Nombre PX" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control BuscarPX" id="ExpedientePX" placeholder="Expediente PX" required>
                    </div>
                    <div class="col-md-3 mb-2">
                        <button class="btn btn-primary" onclick="BtnBuscarPX()">Buscar</button>
                    </div>
                </div>
                <div>
                    <div class="table-responsive">
                        <table id="TblPaciente" class="datatable table table-stripped">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        Nombre
                                    </th>
                                    <th style="text-align:center">
                                        Primer Apellido
                                    </th>
                                    <th style="text-align:center">
                                        Segundo Apellido
                                    </th>
                                    <th style="text-align:center">
                                        Unidad de Afiliacion
                                    </th>
                                    <th style="text-align:center">
                                        Expediente
                                    </th>
                                    <th style="width:5px">Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                        <li class="nav-item text-left">
                            <a class="nav-link active" href="#HabitusExterior" data-toggle="tab">Habitus <br />Exterior</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#Habitos" data-toggle="tab"><span class="med-records">Hábitos</span></a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#AntecedentesPerinatales" data-toggle="tab">Antecedentes <br />Perinatales</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#Inmunizaciones" data-toggle="tab">Inmunizaciones</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#Alimentacion" data-toggle="tab">Alimentación</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#HabitosAlimenta" data-toggle="tab">Hábitos <br />Alimentación</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#AntecedentesDesarrollo" data-toggle="tab">Antecedentes <br />Desarrollo</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#AntecedentesGineco" data-toggle="tab">Antecedentes <br />Gineco-Obstétricos</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#AntecedentesVidaSexual" data-toggle="tab">Antecedentes <br />Vida Sexual</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#PrincipioEvolucion" data-toggle="tab">Principio, Evolución<br />Estado Actual</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#ResultadosLaboratorio" data-toggle="tab">Resultados Laboratorio<br />y Gabinete</a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#Plan" data-toggle="tab">Plan<br />  </a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#Pronostico" data-toggle="tab">Pronóstico<br />  </a>
                        </li>
                        <li class="nav-item text-left">
                            <a class="nav-link" href="#Otros" data-toggle="tab">Otros<br />  </a>
                        </li>
                    </ul>
                </nav>

                <div class="tab-content pt-0">

                    <div class="tab-pane fade show active" id="HabitusExterior">
                        <div class="card card-table mb-0 p-3 mb-5">
                            <div class="card-body">
                                <form id="F_Habitus">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Buen estado general</label>
                                                <select class="form-control" id="BuenEstadoGral" name="BuenEstadoGral">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tranquilo</label>
                                                <select class="form-control" id="Tranquilo" name="Tranquilo">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cooperador</label>
                                                <select class="form-control" id="Cooperador" name="Cooperador">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Orientado</label>
                                                <select class="form-control" id="Orientado" name="Orientado">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Facies caract.</label>
                                                <select class="form-control" id="FaciesCaract" name="FaciesCaract">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Depresivo</label>
                                                <select class="form-control" id="Depresivo" name="Depresivo">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ansioso</label>
                                                <select class="form-control" id="Ansioso" name="Ansioso">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Agresivo</label>
                                                <select class="form-control" id="Agresivo" name="Agresivo">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Temeroso</label>
                                                <select class="form-control" id="Temeroso" name="Temeroso">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Irritable</label>
                                                <select class="form-control" id="Irritable" name="Irritable">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Marcha</label>
                                                <select class="form-control" id="Marcha" name="Marcha">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_Habitus" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="Habitos" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="f_Habitos">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Horas de sueño</label>
                                                <select class="form-control showoptions" id="HorasSuenio" name="HorasSuenio">
                                                    <option>Seleccionar</option>
                                                    <option value="Menos 5 horas">Menos 5 horas</option>
                                                    <option value="5-8 horas">5-8 horas</option>
                                                    <option value="Mas 8 horas">Más 8 horas</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tiene insomnio</label>
                                                <select class="form-control showoptions" id="TieneInsomnio" name="TieneInsomnio">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tiene enuresis. Solo menores -20 años</label>
                                                <select class="form-control showoptions" id="TieneEnuresis" name="TieneEnuresis">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tiene pesadillas</label>
                                                <select class="form-control showoptions" id="TienePesadillas" name="TienePesadillas">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Horas de ocio</label>
                                                <select class="form-control showoptions" id="HorasOcio" name="HorasOcio">
                                                    <option>Seleccionar</option>
                                                    <option value="1-3 horas">1-3 horas</option>
                                                    <option value="3-5 horas">3-5 horas</option>
                                                    <option value="mas 5 horas">más 5 horas</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Practica actividad física</label>
                                                <select class="form-control showoptions" id="ActividadFisica" name="ActividadFisica">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6" id="Combo_TiempoActividadF">
                                            <div class="form-group">
                                                <label>Tiempo</label>
                                                <select class="form-control showoptions" id="ActFi_Tiempo" name="ActFi_Tiempo">
                                                    <option>Seleccionar</option>
                                                    <option value="menos 30 minutos">menos 30 minutos</option>
                                                    <option value="30-60 minutos">30-60 minutos</option>
                                                    <option value="mas 60 minutos">más 60 minutos</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="Combo_FrecuenciaActividadF">
                                            <div class="form-group">
                                                <label>Frecuencia</label>
                                                <select class="form-control showoptions" id="ActFi_Frecuencia" name="ActFi_Frecuencia">
                                                    <option>Seleccionar</option>
                                                    <option value="Diario">Diario</option>
                                                    <option value="1-3 veces por semana">1-3 veces por semana</option>
                                                    <option value="1 vez por semana">1 vez por semana</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button id="Btn_Habitos" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="AntecedentesPerinatales" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_Perinatales">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>No. Embarazo de la madre</label>
                                                <input type="text" class="form-control" id="NumeroEmbarazo" name="NumeroEmbarazo" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Enfermedad durante embarazo</label>
                                                <select class="form-control showoptions" id="EnfermedadesEmbarazo" name="EnfermedadesEmbarazo">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspEnfermedad">
                                            <div class="form-group">
                                                <label>Especifique Enfermedad</label>
                                                <input type="text" class="form-control" id="Especifica_EnfermedadesEmb" name="Especifica_EnfermedadesEmb" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tratamientos durante embarazo</label>
                                                <select class="form-control showoptions" id="TratamientosEmbarazo" name="TratamientosEmbarazo">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspTratamiento">
                                            <div class="form-group">
                                                <label>Especifique Tratamiento</label>
                                                <input type="text" class="form-control" id="Especifica_TratamientosEmb" name="Especifica_TratamientosEmb" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Lugar de parto</label>
                                                <select class="form-control showoptions" id="LugarParto" name="LugarParto">
                                                    <option>Seleccionar</option>
                                                    <option value="IMSS">IMSS</option>
                                                    <option value="ISSSTE">ISSSTE</option>
                                                    <option value="SSNL">SSNL</option>
                                                    <option value="Otro">Otro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspLugarParto">
                                            <div class="form-group">
                                                <label>Especifique Lugar</label>
                                                <input type="text" class="form-control" id="Otra_LugarParto" name="Otra_LugarParto" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Edad Gestional</label>
                                                <select class="form-control showoptions" id="EdadGestional" name="EdadGestional">
                                                    <option>Seleccionar</option>
                                                    <option value="Conoce">Conoce</option>
                                                    <option value="Desconoce">Desconoce</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspEdadGestional">
                                            <div class="form-group">
                                                <label>Especifique Edad</label>
                                                <input type="text" class="form-control" id="Especifica_EdadGes" name="Especifica_EdadGes" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Apgar</label>
                                                <select class="form-control showoptions" id="Apgar" name="Apgar">
                                                    <option>Seleccionar</option>
                                                    <option value="Conoce">Conoce</option>
                                                    <option value="Desconoce">Desconoce</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspApgar">
                                            <div class="form-group">
                                                <label>Especifique Apgar</label>
                                                <input type="text" class="form-control" id="Especifica_Apgar" name="Especifica_Apgar" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tipo de Parto</label>
                                                <select class="form-control showoptions" id="TipoParto" name="TipoParto">
                                                    <option>Seleccionar</option>
                                                    <option value="Parto">Parto</option>
                                                    <option value="Cesárea">Cesárea</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="Combo_PartoFue">
                                            <div class="form-group">
                                                <label>El parto fue</label>
                                                <select class="form-control showoptions" id="PartoFue_TipoParto" name="PartoFue_TipoParto">
                                                    <option>Seleccionar</option>
                                                    <option value="Distocico">Distocico</option>
                                                    <option value="Eutocico">Eutócico</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspDistocica">
                                            <div class="form-group">
                                                <label>Especifique Distócico</label>
                                                <input type="text" class="form-control" id="Distocica_TipoParto" name="Distocica_TipoParto" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspMotivoCesarea">
                                            <div class="form-group">
                                                <label>Motivo Cesárea</label>
                                                <input type="text" class="form-control" id="Cesaria_TipoParto" name="Cesaria_TipoParto" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Comp. Atención Obs.</label>
                                                <select class="form-control showoptions" id="ComplicacionAtenObst" name="ComplicacionAtenObst">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspComplicacionObs">
                                            <div class="form-group">
                                                <label>Especifique Comp.</label>
                                                <input type="text" class="form-control" id="Especifica_Complicacion" name="Especifica_Complicacion" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tamiz Metabólico</label>
                                                <select class="form-control showoptions" id="TamizMetabolico" name="TamizMetabolico">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="Combo_TamizMetabolico">
                                            <div class="form-group">
                                                <label>Tamiz Metabólico Opciones</label>
                                                <select class="form-control showoptions" id="Seleccione_TamizMetabolico" name="Seleccione_TamizMetabolico">
                                                    <option>Seleccionar</option>
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Desconocido">Desconocido</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tamiz Auditivo</label>
                                                <select class="form-control showoptions" id="TamizAuditivo" name="TamizAuditivo">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="Combo_TamizAuditivo">
                                            <div class="form-group">
                                                <label>Tamiz Auditivo Opciones</label>
                                                <select class="form-control showoptions" id="Seleccione_TamizAuditivo" name="Seleccione_TamizAuditivo">
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                    <option value="Desconocido">Desconocido</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button id="Btn_Perinatales" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="Inmunizaciones" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_inmunizaciones">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Mostró Cartilla Vacunación</label>
                                            <select class="form-control showoptions" id="CartillaVacunacion" name="CartillaVacunacion">
                                                <option>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Esquema Completo Vacunación</label>
                                                <select class="form-control showoptions" id="EsquemaVacunacion" name="EsquemaVacunacion">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspVacuna">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_EsquemaVac" name="Especifica_EsquemaVac" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button id="Btn_Inmunizaciones" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="Alimentacion" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_alimentacion">
                                    <div class="row">
                                        <h3>Menores de -10</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Tipo Lactancia</label>
                                            <select class="form-control showoptions" id="TipoLactancia" name="TipoLactancia">
                                                <option>Seleccionar</option>
                                                <option value="Materna">Materna</option>
                                                <option value="Exclusiva">Exclusiva</option>
                                                <option value="Artificial">Artificial</option>
                                                <option value="Mixta">Mixta</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Tiempo Lactancia (meses)</label>
                                                <input type="text" class="form-control" id="TiempoLactancia" name="TiempoLactancia" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Edad Ablactación (meses)</label>
                                                <input type="text" class="form-control" id="EdadAblactacion" name="EdadAblactacion" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <label>Alimentos con que inició</label>
                                            <textarea class="form-control" placeholder="" id="AlimentosInicio" name="AlimentosInicio"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Edad Integración</label>
                                                <input type="text" class="form-control" id="EdadIntegracion" name="EdadIntegracion" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>¿Tiene conocimiento de lo que es la muerte de cuna?</label>
                                            <select class="form-control showoptions" id="MuertCuna" name="MuertCuna">
                                                <option>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button id="Btn_Alimentacion" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="HabitosAlimenta" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_HabitosAlimentacion">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>¿Cómo son los hábitos de alimentación?</label>
                                            <select class="form-control showoptions" id="HabitosAlimentacion" name="HabitosAlimentacion">
                                                <option>Seleccionar</option>
                                                <option value="Bueno">Bueno</option>
                                                <option value="Regular">Regular</option>
                                                <option value="Malo">Malo</option>
                                            </select>
                                        </div>


                                        <div class="col-md-6" id="EspBueno">
                                            <div class="form-group">
                                                <label>Especifique Bueno</label>
                                                <input type="text" class="form-control" id="EspecificaBueno" name="EspecificaBueno" placeholder="">
                                            </div>
                                        </div>

                                        <div class="col-md-6" id="EspRegular">
                                            <div class="form-group">
                                                <label>Especifica Regular</label>
                                                <input type="text" class="form-control" id="EspecificaRegular" name="EspecificaRegular" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="EspMalo">
                                            <div class="form-group">
                                                <label>Especifica Malo</label>
                                                <input type="text" class="form-control" id="EspecificaMalo" name="EspecificaMalo" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button id="Btn_HabitosAlimen" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="AntecedentesDesarrollo" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_desarrollo">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Sostuvo la cabeza</label>
                                            <select class="form-control showoptions" id="SostuvoCabeza" name="SostuvoCabeza">
                                                <option>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                                <option value="No sabe">No sabe</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" id="EspSostuvoCabeza">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_SostuvoCab" name="Especifica_SostuvoCab" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Se sentó</label>
                                                <select class="form-control showoptions" id="SeSento" name="SeSento">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                    <option value="No sabe">No sabe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspSeSento">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_SeSento" name="Especifica_SeSento" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Caminó</label>
                                                <select class="form-control showoptions" id="Camino" name="Camino">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                    <option value="No sabe">No sabe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspCamino">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_Camino" name="Especifica_Camino" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Habla</label>
                                            <select class="form-control showoptions" id="Habla" name="Habla">
                                                <option>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                                <option value="No sabe">No sabe</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" id="EspHabla">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_Habla" name="Especifica_Habla" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Control de esfínteres</label>
                                                <select class="form-control showoptions" id="ControlEsfinteres" name="ControlEsfinteres">
                                                    <option>Seleccionar</option>
                                                    <option value="Si">Si</option>
                                                    <option value="No">No</option>
                                                    <option value="No sabe">No sabe</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspControlEsf">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_ControlEsfin" name="Especifica_ControlEsfin" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Prueba EDI</label>
                                                <select class="form-control showoptions" id="PruebaEDI" name="PruebaEDI">
                                                    <option>Seleccionar</option>
                                                    <option value="Normal">Normal</option>
                                                    <option value="Anormal">Anormal</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="EspPruebaEDI">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_PruebaEDI" name="Especifica_PruebaEDI" placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_AntecedentesDes" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="AntecedentesGineco" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_desarrollo">
                                    <div class="row">

                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_AntecedentesGineco" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="AntecedentesVidaSexual" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_AntecedentesVidaS">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>¿Ya inició su vida sexual?</label>
                                            <select class="form-control showoptions" id="InicioVidaSexual" name="InicioVidaSexual">
                                                <option>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                                <option value="No sabe">No aplica</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4" id="EdadVS">
                                            <div class="form-group">
                                                <label>Edad Inicio</label>
                                                <input type="text" class="form-control" id="Edad_InicioVidaSexual" name="Edad_InicioVidaSexual" placeholder="">
                                            </div>
                                        </div>
                                        <div class="col-md-4" id="NumeroParejasS">
                                            <div class="form-group">
                                                <label>Número Parejas</label>
                                                <input type="text" class="form-control" id="Numero_ParejasSexuales" name="Numero_ParejasSexuales" placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_AntecedentesVidaS" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="PrincipioEvolucion" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_PrincipioEvolucion">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Describa</label>
                                            <textarea class="form-control" placeholder="" id="PEE" name="PEE"></textarea>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_PrincipioEvolucion" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="ResultadosLaboratorio" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_ResultadosLaboratorio">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Elija</label>
                                            <select class="form-control showoptions" id="RLGR" name="RLGR">
                                                <option>Seleccionar</option>
                                                <option value="Aplica">Aplica</option>
                                                <option value="No Aplica">No Aplica</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" id="EspResultados">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_RLGR" name="Especifica_RLGR" placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_ResultadosLaboratorio" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="Plan" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_Plan">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Describa</label>
                                            <textarea class="form-control" placeholder="" id="Plan" name="Plan"></textarea>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_Plan" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="Pronostico" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_Pronostico">
                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row">
                                                <label>Selecciona</label>
                                            </div>
                                            <div class="row">
                                                <input class="form-check-input" type="checkbox" id="LigadoEvolucion" name="LigadoEvolucion">
                                                <label class="form-check-label" for="">
                                                    Ligado a Evolucion
                                                </label>
                                            </div>
                                            <div class="row">
                                                <input class="form-check-input" type="checkbox" id="Favorable" name="Favorable">
                                                <label class="form-check-label" for="">
                                                    Favorable
                                                </label>
                                            </div>
                                            <div class="row">
                                                <input class="form-check-input" type="checkbox" id="Desfavorable" name="Desfavorable">
                                                <label class="form-check-label" for="">
                                                    Desfavorable
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_Pronostico" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="Otros" class="tab-pane fade">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <form id="F_Otros">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>¿Requiere interconsulta?</label>
                                            <select class="form-control showoptions" id="Interconsulta" name="Interconsulta">
                                                <option>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" id="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>¿Se proporcionan indicaciones de urgencias... relacionados con el padecimiento actual?</label>
                                            <select class="form-control showoptions" id="PadecimientoActual" name="PadecimientoActual">
                                                <option>Seleccionar</option>
                                                <option value="Si">Si</option>
                                                <option value="No aplica">No aplica</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" id="EspPadecimientoActual">
                                            <div class="form-group">
                                                <label>Especifique</label>
                                                <input type="text" class="form-control" id="Especifica_PadecimientoActual" name="Especifica_PadecimientoActual" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Próxima cita</label>
                                            <select class="form-control showoptions" id="ProximaCita" name="ProximaCita">
                                                <option>Seleccionar</option>
                                                <option value="1 a 3 dias">1 a 3 dias</option>
                                                <option value="3 a 7">3 a 7</option>
                                                <option value="1 semana">1 semana</option>
                                                <option value="2 semana">2 semana</option>
                                                <option value="3 semana">3 semana</option>
                                                <option value="1 mes">1 mes</option>
                                                <option value="más de un mes">más de un mes</option>
                                                <option value="3 meses">3 meses</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6" id="">
                                            
                                        </div>
                                    </div>

                                    <div class="text-right">
                                        <button id="Btn_Otros" type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/assets/js/jquery-3.2.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    $(document).ready(function () {

        //Ocultamos div donde se muestra la info del px ya que aún no se ha buscado
        $("#InfoPX").hide();

        var table = $('#TblPaciente').DataTable();
        table.destroy();
        table = $('#TblPaciente').DataTable({
            paging: false,
            scroller: false,
            responsive: true,
            searching: false,
            info: true,
            lengthChange: false,
            pageLength: 20,
            language: {
                "zeroRecords": " ",
                "info": "_TOTAL_ px",
                "search": "Buscar:",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            }
        });

        // #region Botones de Guardar HC
        $("#Btn_Habitus").css("display", "none");
        $("#Btn_Habitos").css("display", "none");
        $("#Btn_Perinatales").css("display", "none");
        $("#Btn_Inmunizaciones").css("display", "none");
        $("#Btn_Alimentacion").css("display", "none");
        $("#Btn_HabitosAlimen").css("display", "none");
        $("#Btn_AntecedentesDes").css("display", "none");

        $("#Btn_AntecedentesVidaS").css("display", "none");
        $("#Btn_PrincipioEvolucion").css("display", "none");
        $("#Btn_ResultadosLaboratorio").css("display", "none");
        $("#Btn_Plan").css("display", "none");
        $("#Btn_Pronostico").css("display", "none");
        $("#Btn_Otros").css("display", "none");
        
        // #endregion

        // #region Pestañas: Elementos de la H.C. que nacerán ocultos y se mostrarán hasta que se seleccione o se haga alguna acción
        //habitos
        $("#Combo_TiempoActividadF").css("display", "none");
        $("#Combo_FrecuenciaActividadF").css("display", "none");
        //perinatales
        $("#EspEnfermedad").css("display", "none");
        $("#EspTratamiento").css("display", "none");
        $("#EspLugarParto").css("display", "none");
        $("#EspEdadGestional").css("display", "none");
        $("#EspApgar").css("display", "none");
        $("#Combo_PartoFue").css("display", "none");
        $("#EspDistocica").css("display", "none");
        $("#EspMotivoCesarea").css("display", "none");
        $("#EspComplicacionObs").css("display", "none");
        $("#Combo_TamizMetabolico").css("display", "none");
        $("#Combo_TamizAuditivo").css("display", "none");
        //inmunizaciones
        $("#EspVacuna").css("display", "none");
        //habitos alimentacion
        $("#EspBueno").css("display", "none");
        $("#EspRegular").css("display", "none");
        $("#EspMalo").css("display", "none");
        //antecedentes desarrollo
        $("#EspSostuvoCabeza").css("display", "none");
        $("#EspSeSento").css("display", "none");
        $("#EspCamino").css("display", "none");
        $("#EspHabla").css("display", "none");
        $("#EspControlEsf").css("display", "none");
        $("#EspPruebaEDI").css("display", "none");
        //Vida sexual
        $("#EdadVS").css("display", "none");
        $("#NumeroParejasS").css("display", "none");
        //Resultados laboratorio
        $("#EspResultados").css("display", "none");
        $("#EspPadecimientoActual").css("display", "none");
        //Otros

        // #endregion

        //let timerInterval
        //Swal.fire({
        //    title: 'Busque al px. y selecciónalo para crearle la h.c.',
        //    timer: 3500,
        //    timerProgressBar: true,
        //    willClose: () => {
        //        clearInterval(timerInterval)
        //    }
        //});
    });

    // #region Pestañas: Elementos de la H.C. que se mostrarán hasta que se seleccione o se haga alguna acción
    
    //habitos
    $("#ActividadFisica").change(function () {
        var combo = document.getElementById("ActividadFisica");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#Combo_TiempoActividadF").css("display", "");
            $("#Combo_FrecuenciaActividadF").css("display", "");
        } else {
            $("#Combo_TiempoActividadF").css("display", "none");
            $("#Combo_FrecuenciaActividadF").css("display", "none");
        }
    });
    //perinatales
    $("#EnfermedadesEmbarazo").change(function () {
        var combo = document.getElementById("EnfermedadesEmbarazo");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspEnfermedad").css("display", "");
        } else {
            $("#EspEnfermedad").css("display", "none");
        }
    });
    $("#TratamientosEmbarazo").change(function () {
        var combo = document.getElementById("TratamientosEmbarazo");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspTratamiento").css("display", "");
        } else {
            $("#EspTratamiento").css("display", "none");
        }
    });
    $("#LugarParto").change(function () {
        var combo = document.getElementById("LugarParto");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Otro") {
            $("#EspLugarParto").css("display", "");
        } else {
            $("#EspLugarParto").css("display", "none");
        }
    });
    $("#EdadGestional").change(function () {
        var combo = document.getElementById("EdadGestional");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Conoce") {
            $("#EspEdadGestional").css("display", "");
        } else {
            $("#EspEdadGestional").css("display", "none");
        }
    });
    $("#Apgar").change(function () {
        var combo = document.getElementById("Apgar");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Conoce") {
            $("#EspApgar").css("display", "");
        } else {
            $("#EspApgar").css("display", "none");
        }
    });
    $("#TipoParto").change(function () {
        var combo = document.getElementById("TipoParto");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Parto") {
            $("#Combo_PartoFue").css("display", "");
            $("#EspMotivoCesarea").css("display", "none");
        } else {
            $("#Combo_PartoFue").css("display", "none");
            $("#EspMotivoCesarea").css("display", "");
        }
    });
    $("#PartoFue_TipoParto").change(function () {
        var combo = document.getElementById("PartoFue_TipoParto");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Distocico") {
            $("#EspDistocica").css("display", "");
        } else {
            $("#EspDistocica").css("display", "none");
        }
    });
    $("#ComplicacionAtenObst").change(function () {
        var combo = document.getElementById("ComplicacionAtenObst");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspComplicacionObs").css("display", "");
        } else {
            $("#EspComplicacionObs").css("display", "none");
        }
    });
    $("#TamizMetabolico").change(function () {
        var combo = document.getElementById("TamizMetabolico");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#Combo_TamizMetabolico").css("display", "");
        } else {
            $("#Combo_TamizMetabolico").css("display", "none");
        }
    });
    $("#TamizAuditivo").change(function () {
        var combo = document.getElementById("TamizAuditivo");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#Combo_TamizAuditivo").css("display", "");
        } else {
            $("#Combo_TamizAuditivo").css("display", "none");
        }
    });
    //inmunizaciones
    $("#EsquemaVacunacion").change(function () {
        var combo = document.getElementById("EsquemaVacunacion");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "No") {
            $("#EspVacuna").css("display", "");
        } else {
            $("#EspVacuna").css("display", "none");
        }
    });
    //habitos alimentacion
    $("#HabitosAlimentacion").change(function () {
        var combo = document.getElementById("HabitosAlimentacion");
        var selected = combo.options[combo.selectedIndex].text;

        if (selected == "Bueno") {
            $("#EspBueno").css("display", "");
        } else {
            $("#EspBueno").css("display", "none");
        }
        if (selected == "Regular") {
            $("#EspRegular").css("display", "");
        } else {
            $("#EspRegular").css("display", "none");
        }
        if (selected == "Malo") {
            $("#EspMalo").css("display", "");
        } else {
            $("#EspMalo").css("display", "none");
        }
    });
    //antecedentes desarrollo
    $("#SostuvoCabeza").change(function () {
        var combo = document.getElementById("SostuvoCabeza");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspSostuvoCabeza").css("display", "");
        } else {
            $("#EspSostuvoCabeza").css("display", "none");
        }
    });
    $("#SeSento").change(function () {
        var combo = document.getElementById("SeSento");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspSeSento").css("display", "");
        } else {
            $("#EspSeSento").css("display", "none");
        }
    });
    $("#Camino").change(function () {
        var combo = document.getElementById("Camino");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspCamino").css("display", "");
        } else {
            $("#EspCamino").css("display", "none");
        }
    });
    $("#Habla").change(function () {
        var combo = document.getElementById("Habla");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspHabla").css("display", "");
        } else {
            $("#EspHabla").css("display", "none");
        }
    });
    $("#ControlEsfinteres").change(function () {
        var combo = document.getElementById("ControlEsfinteres");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspControlEsf").css("display", "");
        } else {
            $("#EspControlEsf").css("display", "none");
        }
    });
    $("#PruebaEDI").change(function () {
        var combo = document.getElementById("PruebaEDI");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Anormal") {
            $("#EspPruebaEDI").css("display", "");
        } else {
            $("#EspPruebaEDI").css("display", "none");
        }
    });
    //Vida sexual
    $("#InicioVidaSexual").change(function () {
        var combo = document.getElementById("InicioVidaSexual");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EdadVS").css("display", "");
            $("#NumeroParejasS").css("display", "");
        } else {
            $("#EdadVS").css("display", "none");
            $("#NumeroParejasS").css("display", "none");
        }
    });
    //Resultados laboratorio
    $("#RLGR").change(function () {
        var combo = document.getElementById("RLGR");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Aplica") {
            $("#EspResultados").css("display", "");
        } else {
            $("#EspResultados").css("display", "none");
        }
    });
    //Otros
    $("#PadecimientoActual").change(function () {
        var combo = document.getElementById("PadecimientoActual");
        var selected = combo.options[combo.selectedIndex].text;
        if (selected == "Si") {
            $("#EspPadecimientoActual").css("display", "");
        } else {
            $("#EspPadecimientoActual").css("display", "none");
        }
    });

    // #endregion

    //Si dan click en Enter en los inputs de Nombre/Expediente
    $('.BuscarPX').on("keypress", function (e) {
        if (e.keyCode == 13) {
            FuncionBuscarPX();
            return false;
        }
    });

    //Si dan click en el botón de Buscar
    function BtnBuscarPX() {
        FuncionBuscarPX();
    };

    function FuncionBuscarPX() {
	    var NombrePX = $("#NombrePX").val();
	    var ExpedientePX = $("#ExpedientePX").val();

	    Swal.fire({
		    title: 'Cargando... Espere por favor',
		    timer: 1000,
		    timerProgressBar: true,
	    });

	    $.ajax({
		    url: '@Url.Action("BuscarPaciente", "Derechohabiente")',
		    method: 'POST',
		    dataType: 'json',
		    data: {
                NombrePX: NombrePX,
                ExpedientePX: ExpedientePX
		    },
		    success: function(data) {
                if (data.MENSAJE.substring(0, 6) == "Succe:") {
                    LlenaTablaPX(data.PACIENTES);
			    }
			    if (data.MENSAJE.substring(0, 6) == "Error:") {
				    Swal.fire({
					    icon: 'error',
					    title: '¡Error!',
					    text: data.MENSAJE.substring(7),
				    });
			    }
		    },
		    error: function(ex) {
			    Swal.fire({
				    icon: 'error',
				    title: '¡Error!',
			    });
		    }
	    });

    };

    function LlenaTablaPX(PX) {
        var table = $('#TblPaciente').DataTable();
        table.destroy();

        table = $('#TblPaciente').DataTable({
            responsive: true,
            searching: false,
            info: true,
            deferRender: true,
            scroller: false,
            scrollColapse: true,
            paging: false,
            lengthChange: false,
            language: {
                "zeroRecords": "No se encontraron PX",
                "info": "",
                "search": "",
                "infoEmpty": "",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior",
                },
                "select": {
                    "rows": " %d filas seleccionadas"
                },
            },
            data: PX,
            columns: [
                { 'data': 'Nombre', className: "text-center" },
                { 'data': 'PrimerApellido', className: "text-center" },
                { 'data': 'SegundoApellido', className: "text-center" },
                {
                    "data": "UnidadAfiliacion", className: "text-center", render: function (data, type, row) {
                        if (row.UnidadAfiliacion == 1 ) {
                            return '<h8 style="color:black; ">Unidad habitacional I.</h8>';
                        }
                        if (row.UnidadAfiliacion == 2) {
                            return '<h8 style="color:black; ">Módulo dental Apodaca</h8>';
                        }
                        if (row.UnidadAfiliacion == 3) {
                            return '<h8 style="color:black; ">Pueblo Nuevo</h8>';
                        }
                        if (row.UnidadAfiliacion == 4) {
                            return '<h8 style="color:black; ">Vicente Guerrero</h8>';
                        }
                        if (row.UnidadAfiliacion == 5) {
                            return '<h8 style="color:black; ">San Rafael</h8>';
                        }
                        if (row.UnidadAfiliacion == 6) {
                            return '<h8 style="color:black; ">21 de enero</h8>';
                        }
                        if (row.UnidadAfiliacion == 7) {
                            return '<h8 style="color:black; ">Clínica de atención int.</h8>';
                        }
                        if (row.UnidadAfiliacion == 8) {
                            return '<h8 style="color:black; ">Módulo dental Guadalupe</h8>';
                        }
                        if (row.UnidadAfiliacion == 9) {
                            return '<h8 style="color:black; ">Ciénega de Flores</h8>';
                        }
                    }
                },
                { 'data': 'Expediente', className: "text-center" },
                {
                    "className": 'text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<button title="Seleccionar px" id="VerDetalle" class="btn btn-success fa fa-check" data-toggle="modal" ></button>',
                    "target": -2
                }
            ]
        });
    }

    $('#TblPaciente tbody').on('click', '#VerDetalle', function () {
        var tr = $(this).closest('tr');
        row = $('#TblPaciente').DataTable().row(tr);

        var Nombre = row.data().Nombre;
        var PrimerA = row.data().PrimerApellido;
        var SegundoA = row.data().SegundoApellido;
        var Exp = row.data().Expediente;
        var Edad = row.data().Edad;
        var Sexo = row.data().Sexo;
        var FechaN = row.data().FechaNacimiento;

        //Dividir fecha de nacimiento
        var splitFechaN = FechaN.split('/');
        const anioNacimiento = parseInt(splitFechaN[2]);
        const mesNacimiento = parseInt(splitFechaN[1]);
        const diaNacimiento = parseInt(splitFechaN[0]);

        // Obtiene la fecha actual
        const fechaActual = new Date();

        // Obtiene el año, mes y día actual
        const anioActual = fechaActual.getFullYear();
        const mesActual = fechaActual.getMonth() + 1; // Los meses en JavaScript van de 0 a 11
        const diaActual = fechaActual.getDate();

        // Calcula la edad
        let edad = anioActual - anioNacimiento;
        let edadMeses = mesActual - mesNacimiento;

        // Verifica si aún no ha llegado el cumpleaños de este año
        if (mesActual < mesNacimiento || (mesActual === mesNacimiento && diaActual < diaNacimiento)) {
            edad--;
        }

        document.getElementById("Nombre").innerHTML = Nombre + " " + PrimerA + " " + SegundoA;
        document.getElementById("Exp").innerHTML = Exp;
        document.getElementById("Edad").innerHTML = edad + ' años ' + edadMeses + ' meses';
        document.getElementById("Sexo").innerHTML = Sexo;
        document.getElementById("FechaNac").innerHTML = FechaN;

        //ocultamos div de la busqueda del px
        $("#BusquedaPX").hide();
        //mostramos div de la info del px
        $("#InfoPX").show();

        // #region Mostrar botones de Guardar HC ya que ya se buscó el px
        $("#Btn_Habitus").css("display", "");
        $("#Btn_Habitos").css("display", "");
        $("#Btn_Perinatales").css("display", "");
        $("#Btn_Inmunizaciones").css("display", "");
        $("#Btn_Alimentacion").css("display", "");
        $("#Btn_HabitosAlimen").css("display", "");
        $("#Btn_AntecedentesDes").css("display", "");

        $("#Btn_AntecedentesVidaS").css("display", "");
        $("#Btn_PrincipioEvolucion").css("display", "");
        $("#Btn_ResultadosLaboratorio").css("display", "");
        $("#Btn_Plan").css("display", "");
        $("#Btn_Pronostico").css("display", "");
        $("#Btn_Otros").css("display", "");
        
        // #endregion
    });

    

</script>
