
<div class="container">
    <section class="page-section">
        <div class="container relative">
            @*<h3 class="h3 text-center mb-5" style="font-family: Roboto, Helvetica, Arial, sans-serif;">¡ESTAMOS PARA SERVIRTE!</h3>*@
            <div class="row multi-columns-row alt-features-grid">
                <div class="col-12">
                    <div style="text-align:center">
                        <i class="fas fa-map-marker-alt fa-2x cyan-text" aria-hidden="true"></i>
                    </div>
                    <div class="alt-features-item align-center">
                        <h4 class="text-center"><strong><em>CAMPUS CIENCIAS DE LA SALUD</em></strong></h4>
                        <p class="text" style="text-align:center; font-family: Roboto, Helvetica, Arial, sans-serif; font-weight: 400;font-style: normal;color: #000000;">
                            Av. Carlos Canseco y Av. Gonzalitos s/nCol.<br />
                            Colonia: Mitras Centro,<br />
                            C.P: 64460<br />
                            Tel. 52 (81) 1340 4930 Y 8329 4000 EXT. 1870
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5">
    <section>
        <div class="card">
            <div class="card-header">¡Búscanos!</div>
            <div class="card-body">
                <div id="map-container-google-2" class="z-depth-1-half map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14381.415399388126!2d-100.36231041097292!3d25.692705778957144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662960a7a6477d7%3A0xc6b7aca8416b8a2a!2sOficina%20Central%20%2FCentro%20Universitario%20de%20Salud!5e0!3m2!1ses!2smx!4v1688931701075!5m2!1ses!2smx" width="1050" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>
</div>